.reveal div.exa-quest {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 500px;
}

.reveal div.exa-quest button {
  margin-top: 0.5em;
  margin-left: 2.5em;
  padding: 0.5em 1em;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.2;
}
.reveal div.exa-quest button:hover {
  opacity: 1;
}

.reveal div.exa-mc ul {
  /*display: block;*/
  /*justify-content: left;*/
  /*text-align: left;*/
  list-style: none;
}

.reveal div.exa-mc ul li {
  position: relative;
  margin: 1.5em 0;
}

.reveal div.exa-mc ul li:before {
  content: " ";
  background-size: cover;
  background-image: url("static/check-box-0.svg");
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -2rem;
}

.reveal div.exa-mc ul li div.check-box {
  vertical-align: middle;
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  background-color: #eee;
  border: 0.1em solid #bbb;
  margin-right: 0.5em;
}

.reveal div.exa-mc ul li {
  display: list-item;
}
.reveal div.exa-mc ul li p {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.reveal div.exa-mc ul li div.check-box:hover {
  border: 0.1em solid #555;
}

.reveal div.exa-mc ul li div.check-box[data-checked] {
  background-color: #aaa;
  border: 0.1em solid #444;
}

.reveal div.exa-mc ul {
  margin-left: 1.5em;
  /*padding-left: 1.5em;*/
  /*text-indent: -1.5em;*/
  /*padding: 0 1em;*/
}

.reveal div.exa-mc ul li {
  list-style-type: none;
}

.reveal ul.choices[data-solved] li.correct div.check-box {
  background-color: #eee;
  border: 0.1em solid #d00;
}

.reveal ul.choices[data-solved] li.correct div.check-box[data-checked] {
  background-color: #aaa;
  border: 0.1em solid #0d0;
}

.reveal ul.choices[data-solved] li.wrong div.check-box {
  background-color: #eee;
  border: 0.1em solid #0d0;
}

.reveal ul.choices[data-solved] li.wrong div.check-box[data-checked] {
  background-color: #aaa;
  border: 0.1em solid #d00;
}
