code {
    font-family: "Source Code Pro", monospace;
    font-size: 106%;
    font-weight: 500;
    //color: #06287e;
    text-transform: none;
}
pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
}

pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

div.sourceCode {
    // margin: space(0 -0.7);
    margin-bottom: 0.5em;
    padding: space(0.4 0.7);
    background: rgba(0, 0, 0, 0.03);
    border-radius: 0.25em;
    overflow: auto;

    pre {
        display: block;
        position: relative;
        width: 100%;
        text-align: left;
        line-height: 1.5em;
        word-wrap: break-word;
        box-shadow: none;
        font-size: 90%;
        font-weight: 500;
        margin: 0;

        div.language-label {
            font-family: "Roboto", sans-serif;
            position: absolute;
            right: 0;
            top: 0;
            color: #666;
            background-color: #eee;
            padding: 0em 0.4em;
            border-radius: 0.2em;
        }

        code {
            display: block;
            overflow: auto;
            max-height: 500px;
            word-wrap: normal;
            border: none;
            font-family: "Source Code Pro", monospace;
            white-space: pre; // pre-wrap generates line breaks
            position: relative;
            color: black;

        }
    }
}
