.medium {
    font-size: $medium-font-size;
}

.xx-small {
    font-size: $xx-small-font-size;
}

.x-small {
    font-size: $x-small-font-size;
}

.small {
    font-size: $small-font-size;
}

.large {
    font-size: $large-font-size;
}

.x-large {
    font-size: $x-large-font-size;
}

.xx-large {
    font-size: $xx-large-font-size;
}
