/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
    max-width: 95%;
    max-height: 95%;
}

.reveal div.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 0;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.reveal img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border: none;
    box-shadow: none;
    border-radius: 0.25em;

    &.float-left {
        float: left;
    }

    &.float-right {
        float: right;
    }
}

.reveal figure {
    margin: 0 0 0 0;
    text-align: left;

    figcaption {
        font-size: 0.8em;
        font-style: italic;
    }
}

.reveal video {
    width: 100%;
    margin: 0;
    display: block;
}

.reveal .img-center img {
    margin: 0 auto;
    display: block;
}

.reveal .img-nocenter img {
    margin: 0 0;
    display: inline;
}