/********************
 * QUIZ STYLING
 ********************/

$red:#ff0000;
$green: #009900;
$blue: #2a9ddf;
$right: #aaffaa;
$wrong: #ffaaaa;
$button: #ddd;
$solution: #eee;
$text: #555;
$tooltip: #808080;
$border: 2px var(--border-decoration-style) #000;
$border-dotted: 2px dotted #000;
$border-radius: 6px;
 
.reveal {
    .qic,
    .qft,
    .qmc,
    .qmi,
    [class*="quiz-"] {
        position: relative;
        .disabled {
            opacity: 0.6;
            pointer-events: none; 
        }
        .display {
            float: left;
            display: block;
        }
        .hidden {
            display: none; 
        }
        .show-right {
            background-color: $right;
            border: $border;
        }
        .show-wrong {
            background-color: $wrong;
            border: $border-dotted;
        }
        .solutionDiv {
            margin: 0.5em 0 var(--margin-bottom-ul) 0;
        }
        button,
        input
        {
            border-radius: $border-radius;
            font-family: inherit;
            outline: none;
            clear: both;
            border: $border;
        }
        button {
            font-size: var(--font-size-x-small);
        }
        input {
            font-size: inherit;
            &:placeholder-shown {
                text-overflow: ellipsis; 
            }
        }
        select {
            border: $border;
            font-size: inherit;
            :disabled {
                color: #000;
            }
        }
        &.plain {
            button {
                border: none;
                margin: 10px 1em auto auto;
                padding: 5px 10px; 
                background-color: $button;
                color: #000;
                &:hover {
                    background-color: $tooltip;
                    color: #fff; 
                }
            }
            input {
                display: block;
                padding: 5px 10px; 
                width: 90%;
                margin: 0 0.375em 0.375em 0;
                border: none;
                border-radius: $border-radius;
                background-color: $solution;
                font-family: "Source Code Pro", monospace;
                &.show-right {
                    background-color: $right;
                }
                &.show-wrong {
                    background-color: $wrong; 
                }
            }
            li {
                &.show-right:before {
                    content: "\f058";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    font-size: var(--font-size-medium);
                    color: $green;
                }
                &.show-wrong:before {
                    content: "\f057";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    font-size: var(--font-size-medium);
                    color: $red;
                }
            }
        }
    }
 
    .qmc,
    .quiz-mc,
    .quiz-multiple-choice {
        li {
            display: inline-block;
            position: relative;
            text-align: var(--align-global);
            margin: 20px;
            padding: 20px;
            border: 2px var(--border-decoration-style) $blue;
            border-radius: 20px;
            font-weight: normal;
            color: #000;
            &:before {
                content: counter(answer, upper-latin) ": ";
                counter-increment: answer;
                margin-right: 0.5em;
                font-weight:  bold;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            counter-reset: answer;
        }
        .tooltip  {
            display: block;
            visibility: hidden;
            max-width: 95%;
            top: 100%;
            left: 5px;
            background-color: $tooltip;
            color: #fff;
            text-align: center;
            margin: 5px;
            padding: 5px;
            border-radius: $border-radius;
            border: none;
            position: absolute;
            z-index: 1;
            font-size: var(--font-size-small);
        }
        [class*="show-"]:hover .tooltip {
            visibility: visible;
        }
        &.plain {
            li {
                margin: 0;
                padding: 0.1em 0 0.1em 0.7em;
                border: none;
                &:before {
                    content: "\f111";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 400;
                    font-size: var(--font-size-medium);
                }
                &[class*="show-"] {
                    background-color: inherit;
                }
            }
            ul {
                display: inline-block;
                text-align: inherit;
            }
        }
    }
 
    .qft,
    [class*="quiz-f"] {
        // Users may have long tooltips with images
        overflow-y: auto;
        max-height: 80vh;
        .solutionDiv {
            background-color: $solution;
            color: $text;
            padding: 0.5em;
            border-radius: $border-radius;
            display: block;
            visibility: hidden;
            font-size: var(--font-size-small);
            list-style-type: none;
            &.hidden {
                display: none;
            }
            &.solved {
                visibility: visible;
                width: 91%; 
            }
            .correct:before {
                content: "✓ ";
                font-weight: bold;
            }
        }
        .solutionList {
            display: none;
            position: fixed;
            z-index: 99;
            margin: 5px 5px var(--margin-bottom-ul) 5px;
            padding: 5px;
            border: none;
            border-radius: $border-radius;
            list-style-type: none;
            font-size: var(--font-size-small);
            color: #fff;
            li {
                display: none;
                list-style-type: none;
                margin: 0 1em;
                padding: 0.5em 0.6em 0.7em 2em;
                border-radius: 6px;
                &.solved {
                    display: block;
                    background-color: $tooltip;
                }
            }
            &.solved {
                display: block;
            }
            .correct:before {
                content: "✓ ";
                font-weight: bold;
            }
            .wrong:before {
                content: "✗ ";
                font-weight: bold;
            }
        }
        .solved {
            display: block;
        }
        &.plain {
            .solutionList {
                width: 88%;
                margin: 0 0 var(--margin-bottom-ul) 0;
                li {
                    margin: 0;
                    border-radius: $border-radius;
                    .tooltip {
                        padding: 0 0 0.2em 1em;
                    }
                }
            }
        }
    }

    .qic,
    [class*="quiz-i"] {
        // Users may have long tooltips with images
        overflow-y: auto;
        max-height: 80vh;
        .solutionList {
            display: none;
        }
        .tooltip-div {
            margin-top: 0.5em;
            padding: 0.5em;
            font-size: var(--font-size-small);
            display: none;
            border-radius: $border-radius;
            &.solved {
                display: block;
                background-color: $solution;
            }
        }
        &.plain {
            .tooltip-div {
                display: block;
                visibility: hidden;
                &.solved {
                    visibility: visible;
                    width: 91%; 
                }
            }
        }
    }

    .qmi,
    .quiz-mi,
    .quiz-match-items {
        display: block;
        text-align: center;
        // Users may have long tooltips with images
        overflow-y: auto;
        max-height: 80vh;
        padding-top: 0.2em;
        .bucket {
            display:    block;
            flex:       1 0 0;
            padding:    0.625em;
            margin:     5px;
            border:     $border;
            text-align: center;
        }
        .draggableChild:not(a) {
            pointer-events: none;
        } 
        .buckets,
        .matchItems {
            font-size: var(--font-size-small);
            display:inline-flex;
            flex-flow: row nowrap;
            align-items: stretch;
            justify-content: space-around;
            position: relative;
            width: 100%;
            min-height: 100px;
            padding: 15px;
            border: 2px var(--border-decoration-style) $button;
            border-radius: $border-radius;
            box-sizing: border-box;
            &:before {
                position: absolute;
                top: -15px;
                left: 10px;
                font-size: 15px;
                background: #fff;
                padding: 5px;
                color: $tooltip;
                // Get drag/drop hint in correct language from yaml header
                content: attr(data-hint);
            }
        }
        .matchItems {
            margin-bottom: 60px;
            &:after {
                position: absolute;
                content: " ";
                width: 0;
                height: 0;
                bottom: -30px;
                border-left: 30px solid transparent;
                border-right: 30px solid transparent;
                border-top: 30px solid $solution;
            }
        }
        .matchItem {
            display: block;
            border: $border-dotted;
            border-radius: 10px;
            padding: 0.625em;
            background:#fff;
            cursor: grab;
            object-fit: contain;
            margin-left: 2px;
            margin-right: 2px;
            &.show-right {
                background-color: $right;
                border: $border;
            }
            &.show-wrong {
                background-color: $wrong;
            }
            // Scale down image to prevent quiz from overflowing
            img {
                max-width: 50%;
            }
        }
        mjx-container > svg {
            object-fit: contain;
            max-width: 100%;
        }
        &.plain {
            text-align: var(--align-global);
            .buckets, 
            .matchItems, 
            button {
                float: left;
                width: max-content;
                margin: 0;
            }
            .buckets,
            .matchItems {
                border: none;
                display: block;
                margin-top: 2vh;
                &:before,
                &:after {
                    content: unset;
                    border: none;
                }
            }
            .buckets {
                counter-reset: opt;
                max-width: 65%;
            }
            .matchItems {
                margin-right: 3vw;
                max-width: 50%;
            }
            .matchItem {
                border: none;
                padding: 0 0 0.5em 0;
                &:before {
                    content: counter(opt, upper-latin) ": ";
                    counter-increment: opt;
                    margin-right: 0.5em;
                    font-weight:  bold;
                }
            }
            .matchQuestion {
                margin-bottom: 0.5em;
            }
            label {
                margin-right: 0.5em;
            }
            select {
                padding: 0 1em;
                float: right;
            }
        }
    }
}