.reveal {
    .qic,
    .qft,
    .qmc,
    .qmi,
    [class*="quiz-"]{
    
    position: relative;
    // General Button css and freetext question Input 
    button,
    input
    {
        border-radius: 0.5em;
        font-size: inherit;
        font-family: inherit;
        outline: none;
        clear: both;
    }
    .solutionList{
        li{
            display: none;
        }
        .correct:before {
            content: "✓";
            margin-right: 0.5em;
            font-weight:  bold;
        }
        .wrong:before{
            content: "✗";
            margin-right: 0.5em;
            font-weight: bold;
        }
        list-style-type: none;
        // visibility:       hidden;
        display: none;
        max-width:        95%;
        background-color: grey;
        color:            #ffffff;
        margin:           5px;
        padding:          5px;
        border-radius:    6px;
        border:           none;
        position:         absolute;
        z-index:          99;
        font-size:        1rem;
    }
}}

.reveal {
    .qic,
    .qft,
    [class*="quiz-"]{
    select{
        font-size: inherit;
        :disabled{
            color: black;
        }
    }
}
}

.reveal {

    // Matching/Pairing questions
    .quiz-mi,
    .qmi,
    .quiz-match-items {
        text-align: center;

        .buckets {
            counter-reset: bid;
            width: 100%;
            min-height: 15vh;
            max-height: 20vh;
            display: table;
            table-layout: fixed;

            .bucket{
                display: table-cell;
                padding: 10px;
                border: 1px solid black;
                text-align: center;
            }
            .bucket:before {
                content: counter(bid) ": ";
                counter-increment: bid;
                margin-right: 0.5em;
                font-weight:  bold;
            }
        }

        .matchItem {
            display: table-cell;
            margin: auto;
            padding: 1%;
            max-width: 50%;
            vertical-align: middle;
            border-radius: 0.5em;
            border: 1px #111 dashed;
            overflow: hidden;
      
        }
        .matchItem .solution{
            visibility: hidden;
            font-size: large;
        }
        .matchItem:hover .solution{
            visibility: visible;
            font-size: large;
        }

        // Disable interaction with the elements inside draggable
        .draggableChild {
            max-width: inherit;
            pointer-events: none;
        }

        // Arrow from here: http://www.cssarrowplease.com/
        // Creates an arrow that points from dragzone to dropzone to indicate dragging direction
        .matchItems {
            display: table;
            table-layout: fixed;
            border-spacing: 5px;
            border: black;
            border-style: dashed;
            margin-top: 5%;
            min-height: 15vh;
            max-height: 20vh;
            text-align: center;
            width: 100%;
            position: relative;
        }

        .matchItems:after,
        .matchItems:before {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .matchItems:after {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #111;
            border-width: 30px;
            margin-left: -30px;
        }

        // Arrow def end;
    }

}

.reveal {

    // Multiple Choice        
    .survey, 
    .quiz-multiple-choice,
    .quiz-mc,
    .qmc{

        // ul {
        //     list-style-type: none;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: space-between;
        //     flex-wrap: wrap;
        //     padding: 5pt;
        // }
        ul {
            display:         flex;
            flex-direction:  row;
            flex-wrap:       wrap;
            justify-content: center;
            align-items:     center;
            align-content:   center;
            text-align:      center;
            counter-reset:   answer;
        }

        // li {
        //     flex-grow: 1;
        //     border: 1pt #111 dashed;
        //     padding-left: 1em;
        //     padding-right: 1em;
        //     border-radius: 0.5em;
        //     margin: 0.55em;
        //     flex-basis: 30%;

        // }
        li {
            display:       inline-block;
            position:      relative;
            text-align:    left;
            margin:        20px;
            border:        3px solid #2a9ddf;
            border-radius: 20px;
            padding:       20px;
            font-weight:   normal;
            color:         black;

        }

        li:before {
            content: counter(answer, upper-latin) ": ";
            counter-increment: answer;
            margin-right: 0.5em;
            font-weight:  bold;
        }

        .tooltip  {
            display:          block;
            visibility:       hidden;
            max-width:        95%;
            top:              100%;
            left:             5px;
            background-color: grey;
            color:            #ffffff;
            text-align:       center;
            margin:           5px;
            padding:          5px;
            border-radius:    6px;
            border:           none;
            position:         absolute;
            z-index:          1;
            font-size:        1rem;
        }


        
    }
}