@charset "UTF-8";
/**
 * Decker theme for reveal.js.
 *
 * Based on the white scheme by Hakim El Hattab, http://hakim.se
 */
@import url("../vendor/fontawesome/css/all.css");
@import url("../fonts/roboto.css");
@import url("../fonts/source-code-pro.css");
/*********************************************
 * TITLE SLIDE, now supporting Marc's and 
 * Mario's versions
 *********************************************/
.white-on-blue {
  color: #ffffff;
  background-color: #003366;
}

.reveal .title-page .banner img {
  margin: 0px 0px 10px 0px;
  width: 100%;
  object-fit: contain;
}

.reveal .title-page .title {
  margin: 0px;
  width: 100%;
  display: block;
  padding: 0px;
  font-size: var(--font-size-x-large);
  text-align: center;
}

.reveal .title-page .subtitle {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
  font-size: var(--font-size-normal);
  text-align: center;
}

.reveal .title-page .teaser-img {
  margin: 20px auto;
  height: 10%;
  width: auto;
  display: block;
}

.reveal .title-page .teaser-img img {
  margin: 0px;
  display: block;
  margin: auto;
  object-fit: contain;
  max-height: 250px;
  width: auto;
}

.reveal .title-page .date {
  text-align: center;
}

.reveal .title-page .author {
  margin: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: var(--font-size-normal);
  text-align: center;
}

.reveal .title-page .affiliation-logo img {
  margin: 0px 0 0 0;
  height: 70px;
  width: auto;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reveal .title-page .affiliation {
  margin: 0px 0 0 0;
  font-weight: normal;
  font-style: normal;
  font-size: var(--font-size-normal);
  text-align: center;
}

.reveal .title-page .valign-block {
  text-align: center;
}

.reveal .title-page .valign-block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.reveal .title-page .valigned {
  display: inline-block;
  vertical-align: middle;
}

.reveal {
  /*
 *Required CSS for the new media filters. Adopted to Mario's semantic with
 *further fine-tuning
 */
}

.reveal .medium,
.reveal .font-medium,
.reveal .font-size-medium,
.reveal .normal,
.reveal .font-normal,
.reveal .font-size-normal {
  font-size: var(--font-size-medium);
}

.reveal .xx-small,
.reveal .font-xx-small,
.reveal .font-size-xx-small {
  font-size: var(--font-size-xx-small);
}

.reveal .x-small,
.reveal .font-x-small,
.reveal .font-size-x-small {
  font-size: var(--font-size-x-small);
}

.reveal .small,
.reveal .font-small,
.reveal .font-size-small {
  font-size: var(--font-size-small);
}

.reveal .large,
.reveal .font-large,
.reveal .font-size-large {
  font-size: var(--font-size-large);
}

.reveal .x-large,
.reveal .font-x-large,
.reveal .font-size-x-large {
  font-size: var(--font-size-x-large);
}

.reveal .xx-large,
.reveal .font-xx-large,
.reveal .font-size-xx-large {
  font-size: var(--font-size-xx-large);
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
  font-weight: normal;
  text-shadow: none;
}

.reveal h1 {
  font-size: var(--font-size-xx-large);
}

.reveal h2 {
  font-weight: 500;
  font-size: var(--font-size-large);
}

.reveal h3 {
  font-size: var(--font-size-medium);
}

.reveal h4 {
  font-size: var(--font-size-medium);
}

.reveal section.white, .reveal section.inverse, .reveal section.has-dark-background {
  color: #fff;
}

.reveal section.white h1,
.reveal section.white h2,
.reveal section.white h3,
.reveal section.white h4,
.reveal section.white h5,
.reveal section.white h6, .reveal section.inverse h1,
.reveal section.inverse h2,
.reveal section.inverse h3,
.reveal section.inverse h4,
.reveal section.inverse h5,
.reveal section.inverse h6, .reveal section.has-dark-background h1,
.reveal section.has-dark-background h2,
.reveal section.has-dark-background h3,
.reveal section.has-dark-background h4,
.reveal section.has-dark-background h5,
.reveal section.has-dark-background h6 {
  color: #eee;
}

.reveal p {
  line-height: 1.3;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal p,
.reveal ul,
.reveal ol,
.reveal dl,
.reveal blockquote,
.reveal table,
.reveal h1,
.reveal h2,
.reveal h3 {
  margin-left: var(--border-decoration-width);
  padding-left: var(--border-decoration-padding);
  margin-right: var(--border-decoration-width);
  padding-right: var(--border-decoration-padding);
}

.reveal section > figure:first-of-type {
  margin-left: var(--border-decoration-width);
  padding-left: var(--border-decoration-padding);
}

.reveal section > figure:last-of-type {
  margin-right: var(--border-decoration-width);
  padding-right: var(--border-decoration-padding);
}

.reveal div.exa-quest {
  margin-left: var(--border-decoration-width);
  padding-left: var(--border-decoration-padding);
  margin-right: var(--border-decoration-width);
  padding-right: var(--border-decoration-padding);
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin-bottom: 0;
}

.reveal ol li,
.reveal dl li,
.reveal ul li {
  margin-bottom: 0;
  margin-left: 40px;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul,
.reveal ol ul {
  list-style-type: circle;
}

.reveal ol ol {
  list-style-type: lower-roman;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-top: 0.3em;
}

.reveal div.box.columns {
  margin-left: var(--border-decoration-width);
  padding-left: var(--border-decoration-padding);
  margin-right: calc( var(--border-decoration-padding) + var(--border-decoration-width));
  /* Now comes the part for the decorated boxes */
  /* Now comes the specification of the indivdual
    color used for the border as decoration */
}

.reveal div.box.columns p,
.reveal div.box.columns ul,
.reveal div.box.columns ol,
.reveal div.box.columns dl,
.reveal div.box.columns figure,
.reveal div.box.columns blockquote,
.reveal div.box.columns table,
.reveal div.box.columns h1,
.reveal div.box.columns h2,
.reveal div.box.columns h3 {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

.reveal div.box.columns h2 {
  margin-top: 0;
}

.reveal div.box.columns h2:last-child, .reveal div.box.columns h2:empty {
  margin-bottom: 0;
}

.reveal div.box.columns.question, .reveal div.box.columns.answer, .reveal div.box.columns.observation, .reveal div.box.columns.example, .reveal div.box.columns.def, .reveal div.box.columns.definition, .reveal div.box.columns.note, .reveal div.box.columns.ale, .reveal div.box.columns.alert, .reveal div.box.columns.equ, .reveal div.box.columns.equation, .reveal div.box.columns.theorem {
  /* First define the enclosing box and its properties.
        This is the current semantic: The box uses border and padding for
        the "margin" left and right where the left "margin" is used for decoraton
        and spacing to the encloded elements which then span the whole width without
        any margin or padding. */
  margin-left: 0;
  border-left: var(--border-decoration-width) var(--border-decoration-style) red;
  padding-left: var(--border-decoration-padding);
  margin-right: calc( var(--border-decoration-padding) + var(--border-decoration-width));
}

.reveal div.box.columns.question {
  border-color: #ff0101;
}

.reveal div.box.columns.answer {
  border-color: #4d4d4d;
}

.reveal div.box.columns.observation {
  border-color: blue;
}

.reveal div.box.columns.example {
  border-color: blue;
}

.reveal div.box.columns.def, .reveal div.box.columns.definition {
  border-color: #4d4d4d;
}

.reveal div.box.columns.note {
  border-color: #ff9300;
}

.reveal div.box.columns.ale, .reveal div.box.columns.alert {
  border-color: #fa0101;
}

.reveal div.box.columns.equ, .reveal div.box.columns.equation {
  border-color: #4d4d4d;
}

.reveal div.box.columns.theorem {
  border-color: #4d4d4d;
}

.reveal div.box.question div.sourceCode, .reveal div.box.answer div.sourceCode, .reveal div.box.observation div.sourceCode, .reveal div.box.example div.sourceCode, .reveal div.box.def div.sourceCode, .reveal div.box.definition div.sourceCode, .reveal div.box.note div.sourceCode, .reveal div.box.ale div.sourceCode, .reveal div.box.alert div.sourceCode, .reveal div.box.equ div.sourceCode, .reveal div.box.equation div.sourceCode, .reveal div.box.theorem div.sourceCode {
  margin: 0;
  background: rgba(255, 255, 255, 0.4);
  padding: calc(var(--spacing-vertical-base) * 0) calc(var(--spacing-vertical-base) * 0.2);
}

.reveal div.box.question div.sourceCode pre, .reveal div.box.answer div.sourceCode pre, .reveal div.box.observation div.sourceCode pre, .reveal div.box.example div.sourceCode pre, .reveal div.box.def div.sourceCode pre, .reveal div.box.definition div.sourceCode pre, .reveal div.box.note div.sourceCode pre, .reveal div.box.ale div.sourceCode pre, .reveal div.box.alert div.sourceCode pre, .reveal div.box.equ div.sourceCode pre, .reveal div.box.equation div.sourceCode pre, .reveal div.box.theorem div.sourceCode pre {
  margin: 0;
}

.reveal code {
  font-family: "Source Code Pro", monospace;
  font-size: 106%;
  font-weight: 500;
  text-transform: none;
}

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
}

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal;
}

.reveal div.sourceCode {
  margin-bottom: 0.5em;
  padding: calc(var(--spacing-vertical-base) * 0.4) calc(var(--spacing-vertical-base) * 0.7);
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0.25em;
  overflow: auto;
}

.reveal div.sourceCode pre {
  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  line-height: 1.5em;
  word-wrap: break-word;
  box-shadow: none;
  font-size: 90%;
  font-weight: 500;
  margin: 0;
}

.reveal div.sourceCode pre div.language-label {
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
  background-color: #eee;
  padding: 0em 0.4em;
  border-radius: 0.2em;
}

.reveal div.sourceCode pre code {
  display: block;
  overflow: auto;
  max-height: 500px;
  word-wrap: normal;
  border: none;
  font-family: "Source Code Pro", monospace;
  white-space: pre;
  position: relative;
  color: black;
}

.reveal div.decker.image.error {
  font-size: 20pt;
  background-color: #fee;
  border: 0.1em solid darkred;
  padding: 1em;
}

.reveal div.decker.image.error .message {
  font-style: italic;
  margin-left: 20px;
}

.reveal div.decker.image.error pre.markup {
  width: 100%;
  margin-left: 20px;
}

.reveal div.decker.image.error pre.markup code.markup {
  font-family: "Source Code Pro", monospace;
  font-size: 18pt;
  line-height: 1.4;
  color: black;
}

.reveal img.decker,
.reveal video.decker {
  display: inline-block;
  /* remove the following two lines to get sizing of 
       * rendered code block sizing working */
  /*width: auto;*/
  /*height: auto;*/
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: auto;
  border: 0px;
  box-shadow: none;
}

.reveal iframe.decker {
  border: 1px solid lightgray;
  outline: none;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.reveal figure.decker,
.reveal div.nofigure {
  display: inline-block;
}

.reveal figure.decker > img.decker,
.reveal figure.decker > video.decker,
.reveal figure.decker > iframe.decker,
.reveal div.nofigure > img.decker,
.reveal div.nofigure > video.decker,
.reveal div.nofigure > iframe.decker {
  margin: auto;
  border: 0px;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
}

.reveal div.decker.nofigure {
  width: 100%;
}

.reveal figure.streaming {
  width: 100%;
  margin: 0;
}

.reveal figure.decker figcaption.decker {
  margin: 0px 0px 0px 0px;
  line-height: 1.2;
  font-style: italic;
  text-align: center;
}

.reveal object.decker {
  max-width: 100%;
  max-height: 100%;
}

.reveal figure.decker > object.decker {
  width: 100%;
}

.reveal div.image-row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.reveal div.image-row div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.reveal div.image-row img {
  display: block;
}

.reveal div.column {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.reveal div.css-columns {
  column-count: 2;
  column-gap: var(--margin-columns);
  column-rule-style: none;
}

.reveal div.box {
  break-inside: avoid-column;
}

.reveal div.multi-column-row {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: var(--margin-bottom-columns);
}

.reveal div.multi-column-row div.column {
  position: relative;
  flex: 1 1 0;
  margin-left: var(--margin-columns);
  margin-right: var(--margin-columns);
}

.reveal div.multi-column-row div.column:first-child {
  margin-left: 0;
  margin-right: var(--margin-columns);
}

.reveal div.multi-column-row div.column:last-child {
  margin-left: var(--margin-columns);
  margin-right: 0;
}

.reveal div.multi-column-row div.column .mid {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.reveal div.multi-column-row div.column[data-grow="1"] {
  flex-grow: 1;
}

.reveal div.multi-column-row div.column[data-grow="2"] {
  flex-grow: 2;
}

.reveal div.multi-column-row div.column[data-grow="3"] {
  flex-grow: 3;
}

.reveal div.multi-column-row div.column[data-grow="4"] {
  flex-grow: 4;
}

.reveal div.multi-column-row div.column[data-grow="5"] {
  flex-grow: 5;
}

.reveal div.multi-column-row div.column[data-grow="6"] {
  flex-grow: 6;
}

.reveal div.multi-column-row div.column[data-grow="7"] {
  flex-grow: 7;
}

.reveal div.multi-column-row div.column[data-grow="8"] {
  flex-grow: 8;
}

.reveal div.multi-column-row div.column[data-grow="9"] {
  flex-grow: 9;
}

.reveal div.single-column-row {
  margin-bottom: var(--margin-bottom-columns);
}

/********************
* QUIZ STYLING
********************/
.reveal .qic,
.reveal .qft,
.reveal .qmc,
.reveal .qmi,
.reveal [class*="quiz-"] {
  position: relative;
}

.reveal .qic .disabled,
.reveal .qft .disabled,
.reveal .qmc .disabled,
.reveal .qmi .disabled,
.reveal [class*="quiz-"] .disabled {
  opacity: 0.6;
  pointer-events: none;
}

.reveal .qic .display,
.reveal .qft .display,
.reveal .qmc .display,
.reveal .qmi .display,
.reveal [class*="quiz-"] .display {
  float: left;
  display: block;
}

.reveal .qic .hidden,
.reveal .qft .hidden,
.reveal .qmc .hidden,
.reveal .qmi .hidden,
.reveal [class*="quiz-"] .hidden {
  display: none;
}

.reveal .qic .show-right,
.reveal .qft .show-right,
.reveal .qmc .show-right,
.reveal .qmi .show-right,
.reveal [class*="quiz-"] .show-right {
  background-color: #aaffaa;
  border: 2px var(--border-decoration-style) #000;
}

.reveal .qic .show-wrong,
.reveal .qft .show-wrong,
.reveal .qmc .show-wrong,
.reveal .qmi .show-wrong,
.reveal [class*="quiz-"] .show-wrong {
  background-color: #ffaaaa;
  border: 2px dotted #000;
}

.reveal .qic .solutionDiv,
.reveal .qft .solutionDiv,
.reveal .qmc .solutionDiv,
.reveal .qmi .solutionDiv,
.reveal [class*="quiz-"] .solutionDiv {
  margin: 0.5em 0 var(--margin-bottom-ul) 0;
}

.reveal .qic button,
.reveal .qic input,
.reveal .qft button,
.reveal .qft input,
.reveal .qmc button,
.reveal .qmc input,
.reveal .qmi button,
.reveal .qmi input,
.reveal [class*="quiz-"] button,
.reveal [class*="quiz-"] input {
  border-radius: 6px;
  font-family: inherit;
  outline: none;
  clear: both;
  border: 2px var(--border-decoration-style) #000;
}

.reveal .qic button,
.reveal .qft button,
.reveal .qmc button,
.reveal .qmi button,
.reveal [class*="quiz-"] button {
  font-size: var(--font-size-x-small);
}

.reveal .qic input,
.reveal .qft input,
.reveal .qmc input,
.reveal .qmi input,
.reveal [class*="quiz-"] input {
  font-size: inherit;
}

.reveal .qic input:placeholder-shown,
.reveal .qft input:placeholder-shown,
.reveal .qmc input:placeholder-shown,
.reveal .qmi input:placeholder-shown,
.reveal [class*="quiz-"] input:placeholder-shown {
  text-overflow: ellipsis;
}

.reveal .qic select,
.reveal .qft select,
.reveal .qmc select,
.reveal .qmi select,
.reveal [class*="quiz-"] select {
  border: 2px var(--border-decoration-style) #000;
  font-size: inherit;
  margin-bottom: 0.3em;
}

.reveal .qic select :disabled,
.reveal .qft select :disabled,
.reveal .qmc select :disabled,
.reveal .qmi select :disabled,
.reveal [class*="quiz-"] select :disabled {
  color: #000;
}

.reveal .qic.plain button,
.reveal .qft.plain button,
.reveal .qmc.plain button,
.reveal .qmi.plain button,
.reveal [class*="quiz-"].plain button {
  border: none;
  margin: 0;
  padding: 5px 10px;
  background-color: #ddd;
  color: #000;
}

.reveal .qic.plain button:hover,
.reveal .qft.plain button:hover,
.reveal .qmc.plain button:hover,
.reveal .qmi.plain button:hover,
.reveal [class*="quiz-"].plain button:hover {
  background-color: #808080;
  color: #fff;
}

.reveal .qic.plain input,
.reveal .qft.plain input,
.reveal .qmc.plain input,
.reveal .qmi.plain input,
.reveal [class*="quiz-"].plain input {
  display: block;
  padding: 5px 10px;
  width: 90%;
  margin: 0 0.375em 0.375em 0;
  border: none;
  border-radius: 6px;
  background-color: #eee;
  font-family: "Source Code Pro", monospace;
}

.reveal .qic.plain input.show-right,
.reveal .qft.plain input.show-right,
.reveal .qmc.plain input.show-right,
.reveal .qmi.plain input.show-right,
.reveal [class*="quiz-"].plain input.show-right {
  background-color: #aaffaa;
}

.reveal .qic.plain input.show-wrong,
.reveal .qft.plain input.show-wrong,
.reveal .qmc.plain input.show-wrong,
.reveal .qmi.plain input.show-wrong,
.reveal [class*="quiz-"].plain input.show-wrong {
  background-color: #ffaaaa;
}

.reveal .qic.plain li.show-right::before,
.reveal .qft.plain li.show-right::before,
.reveal .qmc.plain li.show-right::before,
.reveal .qmi.plain li.show-right::before,
.reveal [class*="quiz-"].plain li.show-right::before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: var(--font-size-medium);
  color: #009900;
}

.reveal .qic.plain li.show-wrong::before,
.reveal .qft.plain li.show-wrong::before,
.reveal .qmc.plain li.show-wrong::before,
.reveal .qmi.plain li.show-wrong::before,
.reveal [class*="quiz-"].plain li.show-wrong::before {
  content: "\f057";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: var(--font-size-medium);
  color: #ff5e5e;
}

.reveal .qmc li,
.reveal .quiz-mc li,
.reveal .quiz-multiple-choice li {
  display: inline-block;
  position: relative;
  text-align: var(--align-global);
  margin: 20px;
  padding: 20px;
  border: 2px var(--border-decoration-style) #2a9ddf;
  border-radius: 20px;
  font-weight: normal;
  color: #000;
}

.reveal .qmc li::before,
.reveal .quiz-mc li::before,
.reveal .quiz-multiple-choice li::before {
  content: counter(answer, upper-latin) ": ";
  counter-increment: answer;
  margin-right: 0.5em;
  font-weight: bold;
}

.reveal .qmc ul,
.reveal .quiz-mc ul,
.reveal .quiz-multiple-choice ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  counter-reset: answer;
}

.reveal .qmc .tooltip,
.reveal .quiz-mc .tooltip,
.reveal .quiz-multiple-choice .tooltip {
  display: block;
  visibility: hidden;
  width: max-content;
  max-width: -moz-available;
  max-width: fit-content;
  top: 100%;
  left: 5px;
  background-color: #808080;
  color: #fff;
  text-align: center;
  padding: 0.2em;
  border-radius: 6px;
  border: none;
  position: absolute;
  z-index: 1;
  font-size: var(--font-size-small);
}

.reveal .qmc [class*="show-"]:hover .tooltip,
.reveal .quiz-mc [class*="show-"]:hover .tooltip,
.reveal .quiz-multiple-choice [class*="show-"]:hover .tooltip {
  visibility: visible;
}

.reveal .qmc.plain li,
.reveal .quiz-mc.plain li,
.reveal .quiz-multiple-choice.plain li {
  margin: 0;
  padding: 0.1em 0 0.1em 0.7em;
  border: none;
  display: block;
}

.reveal .qmc.plain li::before,
.reveal .quiz-mc.plain li::before,
.reveal .quiz-multiple-choice.plain li::before {
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-size: var(--font-size-medium);
}

.reveal .qmc.plain li[class*="show-"],
.reveal .quiz-mc.plain li[class*="show-"],
.reveal .quiz-multiple-choice.plain li[class*="show-"] {
  background-color: inherit;
}

.reveal .qmc.plain ul,
.reveal .quiz-mc.plain ul,
.reveal .quiz-multiple-choice.plain ul {
  display: inline-block;
  text-align: inherit;
}

.reveal .qmc.plain.inline li,
.reveal .quiz-mc.plain.inline li,
.reveal .quiz-multiple-choice.plain.inline li {
  padding: 0.1em 0.7em 0.1em 0;
  display: inline;
}

.reveal .qft,
.reveal [class*="quiz-f"] {
  overflow-y: auto;
  max-height: 80vh;
}

.reveal .qft input,
.reveal [class*="quiz-f"] input {
  margin-right: 0.5em;
}

.reveal .qft .solutionDiv,
.reveal [class*="quiz-f"] .solutionDiv {
  background-color: #eee;
  color: #555;
  padding: 0.5em;
  border-radius: 6px;
  display: block;
  visibility: hidden;
  font-size: var(--font-size-small);
  list-style-type: none;
}

.reveal .qft .solutionDiv.hidden,
.reveal [class*="quiz-f"] .solutionDiv.hidden {
  display: none;
}

.reveal .qft .solutionDiv.solved,
.reveal [class*="quiz-f"] .solutionDiv.solved {
  visibility: visible;
  width: 91%;
}

.reveal .qft .solutionDiv .correct::before,
.reveal [class*="quiz-f"] .solutionDiv .correct::before {
  content: "✓ ";
  font-weight: bold;
}

.reveal .qft .solutionList,
.reveal [class*="quiz-f"] .solutionList {
  display: none;
  position: fixed;
  z-index: 99;
  margin: 5px 5px var(--margin-bottom-ul) 5px;
  padding: 5px;
  border: none;
  border-radius: 6px;
  list-style-type: none;
  font-size: var(--font-size-small);
  color: #fff;
}

.reveal .qft .solutionList li,
.reveal [class*="quiz-f"] .solutionList li {
  display: none;
  list-style-type: none;
  margin: 0 1em;
  padding: 0.5em 0.6em 0.7em 2em;
  border-radius: 6px;
}

.reveal .qft .solutionList li.solved,
.reveal [class*="quiz-f"] .solutionList li.solved {
  display: block;
  background-color: #808080;
}

.reveal .qft .solutionList.solved,
.reveal [class*="quiz-f"] .solutionList.solved {
  display: block;
}

.reveal .qft .solutionList .correct::before,
.reveal [class*="quiz-f"] .solutionList .correct::before {
  content: "✓ ";
  font-weight: bold;
}

.reveal .qft .solutionList .wrong::before,
.reveal [class*="quiz-f"] .solutionList .wrong::before {
  content: "✗ ";
  font-weight: bold;
}

.reveal .qft .solved,
.reveal [class*="quiz-f"] .solved {
  display: block;
}

.reveal .qft.plain .solutionList,
.reveal [class*="quiz-f"].plain .solutionList {
  width: 88%;
  margin: 0 0 var(--margin-bottom-ul) 0;
}

.reveal .qft.plain .solutionList li,
.reveal [class*="quiz-f"].plain .solutionList li {
  margin: 0;
  border-radius: 6px;
}

.reveal .qft.plain .solutionList li .tooltip,
.reveal [class*="quiz-f"].plain .solutionList li .tooltip {
  padding: 0 0 0.2em 1em;
}

.reveal .qft.plain .solutionButton,
.reveal [class*="quiz-f"].plain .solutionButton {
  margin-right: 0.5em;
}

.reveal .qic,
.reveal [class*="quiz-i"] {
  overflow-y: auto;
  max-height: 80vh;
}

.reveal .qic .solutionList,
.reveal [class*="quiz-i"] .solutionList {
  display: none;
}

.reveal .qic .tooltip-div,
.reveal [class*="quiz-i"] .tooltip-div {
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: var(--font-size-small);
  border-radius: 6px;
  visibility: hidden;
  display: block;
  min-height: 1.3em;
}

.reveal .qic .tooltip-div.solved,
.reveal [class*="quiz-i"] .tooltip-div.solved {
  visibility: visible;
}

.reveal .qic .tooltip-div.solved .tooltip,
.reveal [class*="quiz-i"] .tooltip-div.solved .tooltip {
  background-color: #eee;
  padding-left: 0.5em;
}

.reveal .qic.plain .tooltip-div.solved,
.reveal [class*="quiz-i"].plain .tooltip-div.solved {
  width: 91%;
}

.reveal .qic.plain select,
.reveal [class*="quiz-i"].plain select {
  outline: none;
}

.reveal .qmi,
.reveal .quiz-mi,
.reveal .quiz-match-items {
  display: block;
  text-align: center;
  overflow-y: auto;
  max-height: 80vh;
  padding-top: 0.2em;
}

.reveal .qmi .bucket,
.reveal .quiz-mi .bucket,
.reveal .quiz-match-items .bucket {
  display: block;
  flex: 1 0 0;
  padding: 0.625em;
  margin: 5px;
  border: 2px var(--border-decoration-style) #000;
  text-align: center;
}

.reveal .qmi .draggableChild:not(a),
.reveal .quiz-mi .draggableChild:not(a),
.reveal .quiz-match-items .draggableChild:not(a) {
  pointer-events: none;
}

.reveal .qmi .buckets,
.reveal .qmi .matchItems,
.reveal .quiz-mi .buckets,
.reveal .quiz-mi .matchItems,
.reveal .quiz-match-items .buckets,
.reveal .quiz-match-items .matchItems {
  font-size: var(--font-size-small);
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  width: 100%;
  min-height: 100px;
  padding: 15px 15px 0 15px;
  border: 2px var(--border-decoration-style) #ddd;
  border-radius: 6px;
  box-sizing: border-box;
}

.reveal .qmi .buckets::before,
.reveal .qmi .matchItems::before,
.reveal .quiz-mi .buckets::before,
.reveal .quiz-mi .matchItems::before,
.reveal .quiz-match-items .buckets::before,
.reveal .quiz-match-items .matchItems::before {
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 15px;
  background: #fff;
  padding: 5px;
  color: #808080;
  content: attr(data-hint);
}

.reveal .qmi .matchItems,
.reveal .quiz-mi .matchItems,
.reveal .quiz-match-items .matchItems {
  margin-bottom: 60px;
}

.reveal .qmi .matchItems::after,
.reveal .quiz-mi .matchItems::after,
.reveal .quiz-match-items .matchItems::after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  bottom: -30px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #eee;
}

.reveal .qmi .matchItem,
.reveal .quiz-mi .matchItem,
.reveal .quiz-match-items .matchItem {
  display: block;
  border: 2px dotted #000;
  border-radius: 10px;
  padding: 0.625em;
  background: #fff;
  cursor: grab;
  object-fit: contain;
  margin: 0 2px 6px 2px;
}

.reveal .qmi .matchItem.show-right,
.reveal .quiz-mi .matchItem.show-right,
.reveal .quiz-match-items .matchItem.show-right {
  background-color: #aaffaa;
  border: 2px var(--border-decoration-style) #000;
}

.reveal .qmi .matchItem.show-wrong,
.reveal .quiz-mi .matchItem.show-wrong,
.reveal .quiz-match-items .matchItem.show-wrong {
  background-color: #ffaaaa;
}

.reveal .qmi .matchItem img,
.reveal .quiz-mi .matchItem img,
.reveal .quiz-match-items .matchItem img {
  max-width: 50%;
}

.reveal .qmi mjx-container > svg,
.reveal .quiz-mi mjx-container > svg,
.reveal .quiz-match-items mjx-container > svg {
  object-fit: contain;
  max-width: 100%;
}

.reveal .qmi.plain,
.reveal .quiz-mi.plain,
.reveal .quiz-match-items.plain {
  text-align: var(--align-global);
  height: inherit;
  overflow: inherit;
}

.reveal .qmi.plain .matchDiv,
.reveal .quiz-mi.plain .matchDiv,
.reveal .quiz-match-items.plain .matchDiv {
  padding: 0.5em;
  margin: 0.5em 0;
  border-radius: 7px;
  border: 1px solid #eee;
  justify-content: space-between;
}

.reveal .qmi.plain .matchDiv,
.reveal .qmi.plain .matchItems,
.reveal .quiz-mi.plain .matchDiv,
.reveal .quiz-mi.plain .matchItems,
.reveal .quiz-match-items.plain .matchDiv,
.reveal .quiz-match-items.plain .matchItems {
  display: flex;
}

.reveal .qmi.plain .matchItems,
.reveal .quiz-mi.plain .matchItems,
.reveal .quiz-match-items.plain .matchItems {
  flex-direction: column;
  justify-content: start;
  counter-reset: item;
  border: none;
  margin: 0;
  max-width: max-content;
}

.reveal .qmi.plain .matchItems::before, .reveal .qmi.plain .matchItems::after,
.reveal .quiz-mi.plain .matchItems::before,
.reveal .quiz-mi.plain .matchItems::after,
.reveal .quiz-match-items.plain .matchItems::before,
.reveal .quiz-match-items.plain .matchItems::after {
  content: unset;
  border: none;
}

.reveal .qmi.plain .matchItems,
.reveal .qmi.plain .buckets,
.reveal .quiz-mi.plain .matchItems,
.reveal .quiz-mi.plain .buckets,
.reveal .quiz-match-items.plain .matchItems,
.reveal .quiz-match-items.plain .buckets {
  padding: 0 15px 0 0;
}

.reveal .qmi.plain .matchItem,
.reveal .quiz-mi.plain .matchItem,
.reveal .quiz-match-items.plain .matchItem {
  border: none;
  padding: 0 0 0.3em 0;
}

.reveal .qmi.plain .matchItem::before,
.reveal .quiz-mi.plain .matchItem::before,
.reveal .quiz-match-items.plain .matchItem::before {
  content: counter(item, upper-latin) ": ";
  counter-increment: item;
  margin-right: 0.5em;
  font-weight: bold;
}

.reveal .qmi.plain .matchItem:last-of-type,
.reveal .quiz-mi.plain .matchItem:last-of-type,
.reveal .quiz-match-items.plain .matchItem:last-of-type {
  padding-bottom: 0;
}

.reveal .qmi.plain .matchQuestion,
.reveal .quiz-mi.plain .matchQuestion,
.reveal .quiz-match-items.plain .matchQuestion {
  margin-bottom: 1em;
}

.reveal .qmi.plain .optList,
.reveal .qmi.plain .options,
.reveal .quiz-mi.plain .optList,
.reveal .quiz-mi.plain .options,
.reveal .quiz-match-items.plain .optList,
.reveal .quiz-match-items.plain .options {
  width: 7vw;
  margin-left: 1em;
  border: 2px var(--border-decoration-style) #000;
  padding: 0 0.1em;
  background-color: #f1f1f1;
  text-align: center;
}

.reveal .qmi.plain .optList p::before, .reveal .qmi.plain .optList p::after,
.reveal .qmi.plain .options p::before,
.reveal .qmi.plain .options p::after,
.reveal .quiz-mi.plain .optList p::before,
.reveal .quiz-mi.plain .optList p::after,
.reveal .quiz-mi.plain .options p::before,
.reveal .quiz-mi.plain .options p::after,
.reveal .quiz-match-items.plain .optList p::before,
.reveal .quiz-match-items.plain .optList p::after,
.reveal .quiz-match-items.plain .options p::before,
.reveal .quiz-match-items.plain .options p::after {
  content: "✓ ";
  font-weight: bolder;
}

.reveal .qmi.plain .optList p::after,
.reveal .qmi.plain .options p::after,
.reveal .quiz-mi.plain .optList p::after,
.reveal .quiz-mi.plain .options p::after,
.reveal .quiz-match-items.plain .optList p::after,
.reveal .quiz-match-items.plain .options p::after {
  color: #f1f1f1;
}

.reveal .qmi.plain .optList,
.reveal .quiz-mi.plain .optList,
.reveal .quiz-match-items.plain .optList {
  float: right;
}

.reveal .qmi.plain .optList.correct,
.reveal .quiz-mi.plain .optList.correct,
.reveal .quiz-match-items.plain .optList.correct {
  background-color: #aaffaa;
}

.reveal .qmi.plain .optList.correct p:first-child::before, .reveal .qmi.plain .optList.correct p::after,
.reveal .quiz-mi.plain .optList.correct p:first-child::before,
.reveal .quiz-mi.plain .optList.correct p::after,
.reveal .quiz-match-items.plain .optList.correct p:first-child::before,
.reveal .quiz-match-items.plain .optList.correct p::after {
  color: #aaffaa;
}

.reveal .qmi.plain .optList.correct p::before,
.reveal .quiz-mi.plain .optList.correct p::before,
.reveal .quiz-match-items.plain .optList.correct p::before {
  color: initial;
}

.reveal .qmi.plain .optList.incorrect,
.reveal .quiz-mi.plain .optList.incorrect,
.reveal .quiz-match-items.plain .optList.incorrect {
  background-color: #ffaaaa;
}

.reveal .qmi.plain .optList.incorrect p.correct::before,
.reveal .quiz-mi.plain .optList.incorrect p.correct::before,
.reveal .quiz-match-items.plain .optList.incorrect p.correct::before {
  color: initial;
}

.reveal .qmi.plain .optList.incorrect p.blank.correct::before, .reveal .qmi.plain .optList.incorrect p::after,
.reveal .quiz-mi.plain .optList.incorrect p.blank.correct::before,
.reveal .quiz-mi.plain .optList.incorrect p::after,
.reveal .quiz-match-items.plain .optList.incorrect p.blank.correct::before,
.reveal .quiz-match-items.plain .optList.incorrect p::after {
  color: #ffaaaa;
}

.reveal .qmi.plain .optList.incorrect p.incorrect::before,
.reveal .quiz-mi.plain .optList.incorrect p.incorrect::before,
.reveal .quiz-match-items.plain .optList.incorrect p.incorrect::before {
  color: initial;
}

.reveal .qmi.plain .optList p,
.reveal .quiz-mi.plain .optList p,
.reveal .quiz-match-items.plain .optList p {
  display: none;
  margin: 0;
}

.reveal .qmi.plain .optList p::before,
.reveal .quiz-mi.plain .optList p::before,
.reveal .quiz-match-items.plain .optList p::before {
  color: inherit;
}

.reveal .qmi.plain .optList p:first-child::before,
.reveal .quiz-mi.plain .optList p:first-child::before,
.reveal .quiz-match-items.plain .optList p:first-child::before {
  color: #f1f1f1;
}

.reveal .qmi.plain .optList p:last-child,
.reveal .quiz-mi.plain .optList p:last-child,
.reveal .quiz-match-items.plain .optList p:last-child {
  display: block;
}

.reveal .qmi.plain .options,
.reveal .quiz-mi.plain .options,
.reveal .quiz-match-items.plain .options {
  display: none;
  position: absolute;
  right: 0.66em;
}

.reveal .qmi.plain .options.shown,
.reveal .quiz-mi.plain .options.shown,
.reveal .quiz-match-items.plain .options.shown {
  display: initial;
}

.reveal .qmi.plain .options p::before,
.reveal .quiz-mi.plain .options p::before,
.reveal .quiz-match-items.plain .options p::before {
  color: #f1f1f1;
}

.reveal .qmi.plain .options p.selected::before, .reveal .qmi.plain .options p.selected.correct::before, .reveal .qmi.plain .options p.selected.incorrect::before,
.reveal .quiz-mi.plain .options p.selected::before,
.reveal .quiz-mi.plain .options p.selected.correct::before,
.reveal .quiz-mi.plain .options p.selected.incorrect::before,
.reveal .quiz-match-items.plain .options p.selected::before,
.reveal .quiz-match-items.plain .options p.selected.correct::before,
.reveal .quiz-match-items.plain .options p.selected.incorrect::before {
  color: inherit;
}

.reveal .qmi.plain .options p.correct-notSelected::before,
.reveal .quiz-mi.plain .options p.correct-notSelected::before,
.reveal .quiz-match-items.plain .options p.correct-notSelected::before {
  color: #aaffaa;
}

.reveal .qmi.plain .options p.correct, .reveal .qmi.plain .options p.correct-notSelected,
.reveal .quiz-mi.plain .options p.correct,
.reveal .quiz-mi.plain .options p.correct-notSelected,
.reveal .quiz-match-items.plain .options p.correct,
.reveal .quiz-match-items.plain .options p.correct-notSelected {
  background-color: #aaffaa;
  border: 2px dotted #000;
}

.reveal .qmi.plain .options p.correct::after, .reveal .qmi.plain .options p.correct-notSelected::after,
.reveal .quiz-mi.plain .options p.correct::after,
.reveal .quiz-mi.plain .options p.correct-notSelected::after,
.reveal .quiz-match-items.plain .options p.correct::after,
.reveal .quiz-match-items.plain .options p.correct-notSelected::after {
  color: #aaffaa;
}

.reveal .qmi.plain .options p.incorrect,
.reveal .quiz-mi.plain .options p.incorrect,
.reveal .quiz-match-items.plain .options p.incorrect {
  border: none;
  background-color: #ffaaaa;
}

.reveal .qmi.plain .options p.incorrect::after,
.reveal .quiz-mi.plain .options p.incorrect::after,
.reveal .quiz-match-items.plain .options p.incorrect::after {
  color: #ffaaaa;
}

.reveal .qmi.plain .buckets,
.reveal .quiz-mi.plain .buckets,
.reveal .quiz-match-items.plain .buckets {
  display: block;
  border: none;
  margin-left: 1vw;
  width: auto;
}

.reveal .qmi.plain .buckets::before, .reveal .qmi.plain .buckets::after,
.reveal .quiz-mi.plain .buckets::before,
.reveal .quiz-mi.plain .buckets::after,
.reveal .quiz-match-items.plain .buckets::before,
.reveal .quiz-match-items.plain .buckets::after {
  content: unset;
  border: none;
}

.reveal .qmi.plain button,
.reveal .quiz-mi.plain button,
.reveal .quiz-match-items.plain button {
  width: max-content;
}

@media not all and (min-resolution: 0.001dpcm) {
  /* Safari adjustments */
  @supports (-webkit-appearance: none) {
    .qmi.plain .options,
.quiz-mi.plain .options,
.quiz-match-items.plain .options {
      right: 0.5vw;
    }
  }
  /* Edge adjustments */
  @supports (-ms-ime-align: auto) {
    .qmi.plain .options,
.quiz-mi.plain .options,
.quiz-match-items.plain .options {
      right: 0.5vw;
    }
    .qmi.plain .matchQuestion,
.quiz-mi.plain .matchQuestion,
.quiz-match-items.plain .matchQuestion {
      margin: 1em 0;
    }
    .qmi.plain .matchQuestion:first-of-type,
.quiz-mi.plain .matchQuestion:first-of-type,
.quiz-match-items.plain .matchQuestion:first-of-type {
      margin-top: 0;
    }
  }
}

/* Microsoft Edge Browser 12-18 (All versions before Chromium) */
_:-ms-lang(x).plain .options,
.qmi.plain .options,
.quiz-mi.plain .options,
.quiz-match-items.plain .options {
  right: 0.5vw;
}

@media print {
  .reveal .slides {
    transform: none !important;
  }
  .reveal .slides section {
    break-after: always !important;
  }
  .reveal .slides section .qic button,
.reveal .slides section .qic .solutionDiv,
.reveal .slides section .qft button,
.reveal .slides section .qft .solutionDiv,
.reveal .slides section .qmc button,
.reveal .slides section .qmc .solutionDiv,
.reveal .slides section .qmi button,
.reveal .slides section .qmi .solutionDiv,
.reveal .slides section [class*="quiz-"] button,
.reveal .slides section [class*="quiz-"] .solutionDiv {
    display: none;
  }
  .reveal .slides section .qic.plain input,
.reveal .slides section .qic.plain select,
.reveal .slides section .qft.plain input,
.reveal .slides section .qft.plain select,
.reveal .slides section .qmc.plain input,
.reveal .slides section .qmc.plain select,
.reveal .slides section .qmi.plain input,
.reveal .slides section .qmi.plain select,
.reveal .slides section [class*="quiz-"].plain input,
.reveal .slides section [class*="quiz-"].plain select {
    color: #fff;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: unset;
  }
  .reveal .slides section .qic.plain input,
.reveal .slides section .qft.plain input,
.reveal .slides section .qmc.plain input,
.reveal .slides section .qmi.plain input,
.reveal .slides section [class*="quiz-"].plain input {
    margin-bottom: 0.5em;
    min-width: 35%;
  }
  .reveal .slides section .qic.plain input::placeholder,
.reveal .slides section .qft.plain input::placeholder,
.reveal .slides section .qmc.plain input::placeholder,
.reveal .slides section .qmi.plain input::placeholder,
.reveal .slides section [class*="quiz-"].plain input::placeholder {
    color: #fff;
  }
  .reveal .slides section .qic select,
.reveal .slides section [class*="quiz-i"] select {
    min-width: 35%;
  }
  .reveal .slides section .qmi,
.reveal .slides section [class*="quiz-"] {
    max-height: initial;
  }
  .reveal .slides section .qmi.plain,
.reveal .slides section [class*="quiz-"].plain {
    width: 100%;
  }
  .reveal .slides section .qmi.plain .matchItems,
.reveal .slides section [class*="quiz-"].plain .matchItems {
    align-items: stretch !important;
  }
  .reveal .slides section .qmi.plain .matchQuestion,
.reveal .slides section [class*="quiz-"].plain .matchQuestion {
    font-size: var(--font-size-small) !important;
  }
  .reveal .slides section .qmi.plain .matchQuestion .optList,
.reveal .slides section [class*="quiz-"].plain .matchQuestion .optList {
    color: #fff !important;
    background-color: #fff;
    max-height: 1em;
  }
  .reveal .slides section .qmi.plain .matchQuestion .optList p,
.reveal .slides section .qmi.plain .matchQuestion .optList p::before,
.reveal .slides section .qmi.plain .matchQuestion .optList p::after,
.reveal .slides section [class*="quiz-"].plain .matchQuestion .optList p,
.reveal .slides section [class*="quiz-"].plain .matchQuestion .optList p::before,
.reveal .slides section [class*="quiz-"].plain .matchQuestion .optList p::after {
    color: #fff !important;
  }
  .reveal .slides section .qmi.plain .matchItems,
.reveal .slides section [class*="quiz-"].plain .matchItems {
    margin-bottom: 0;
  }
  .reveal .slides section .qmi.plain .buckets .matchItem,
.reveal .slides section [class*="quiz-"].plain .buckets .matchItem {
    font-size: var(--font-size-small) !important;
  }
}

body {
  background: #fff;
  background-color: #fff;
}

.reveal {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: var(--font-size-medium);
  font-weight: normal;
  color: black;
}

::selection,
::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none;
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
  text-align: var(--align-global);
}

.reveal section[data-align="center"] > h1,
.reveal div[data-align="center"] {
  text-align: center;
}

.reveal section[data-align="right"] > h1,
.reveal div[data-align="right"] {
  text-align: right;
}

.reveal .smallcaps {
  font-variant: small-caps;
}

.reveal .line-block {
  white-space: pre-line;
}

.reveal .references {
  height: 17.5em;
  overflow-y: scroll;
}

.reveal .references div {
  margin-bottom: var(--margin-bottom-references);
}

.reveal q,
.reveal blockquote {
  font-style: italic;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin-bottom: var(--margin-bottom-blockquote);
  padding: calc(var(--spacing-vertical-base) * 0.25);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child, .reveal blockquote p:last-child {
  display: inline-block;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: calc(var(--spacing-vertical-base) * 1);
}

.reveal table {
  display: inline-block;
  margin-bottom: var(--margin-bottom-table);
  border-collapse: collapse;
  border-spacing: 0;
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: calc(var(--spacing-vertical-base) * 0.2) calc(var(--spacing-vertical-base) * 0.5);
  border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal table .slide-number {
  color: #009;
  background-color: rgba(255, 255, 255, 0);
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #009;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  -ms-transition: color 0.15s ease;
  -o-transition: color 0.15s ease;
  transition: color 0.15s ease;
}

.reveal a img {
  -webkit-transition: color 0.15s linear;
  -moz-transition: color 0.15s linear;
  -ms-transition: color 0.15s linear;
  -o-transition: color 0.15s linear;
  transition: color 0.15s linear;
}

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  box-shadow: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1;
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls button {
  opacity: 0;
}

.reveal .controls .enabled:active {
  margin-top: 0;
}

.reveal .controls :focus {
  outline: none;
}

.reveal .controls .slide-number {
  color: #009;
  background-color: rgba(255, 255, 255, 0);
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a76dd;
}

.reveal .progress span {
  background: #777;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

.reveal .speaker-notes h1,
.reveal .speaker-notes h2,
.reveal .speaker-notes h3,
.reveal .speaker-notes h4,
.reveal .speaker-notes h5,
.reveal .speaker-notes h6 {
  color: #fff;
  font-weight: bold;
  margin-bottom: calc(var(--spacing-vertical-base) * 0.2);
}

.reveal .speaker-notes h1 {
  text-decoration: underline;
  margin-bottom: calc(var(--spacing-vertical-base) * 0.4);
}

.reveal .slide-number {
  background: transparent;
  color: gray;
  font-size: 0.4em;
  position: fixed;
  right: 50%;
  bottom: 2vmin;
}

.reveal .resume-button {
  visibility: hidden;
}

.reveal ::selection {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  text-shadow: none;
}

/*********************************************
 * Alignment, beware of semantics as borrowed
 * from CSS 
 *********************************************/
.reveal .float-left {
  float: left;
}

.reveal .float-right {
  float: right;
}

.reveal .vertical-align-top,
.reveal .align-top {
  vertical-align: top;
}

.reveal .vertical-align-middle,
.reveal .align-middle {
  vertical-align: middle;
}

.reveal .vertical-align-bottom,
.reveal .align-bottom {
  vertical-align: bottom;
}

.reveal .align-left,
.reveal section.align-left {
  text-align: left;
}

.reveal .align-center,
.reveal section.align-center {
  text-align: center;
}

.reveal .align-right,
.reveal section.align-right {
  text-align: right;
}

.reveal h1 {
  margin-bottom: var(--margin-bottom-h1);
}

.reveal h2 {
  margin-bottom: var(--margin-bottom-h2);
}

.reveal div.box.columns {
  margin-bottom: var(--margin-bottom-h2-block);
}

.reveal h3 {
  margin-bottom: var(--margin-bottom-h3);
}

.reveal p {
  margin-bottom: var(--margin-bottom-p);
}

.reveal ol {
  margin-bottom: var(--margin-bottom-ol);
}

.reveal ul {
  margin-bottom: var(--margin-bottom-ul);
}

.reveal dl {
  margin-bottom: var(--margin-bottom-dl);
}

.reveal figure {
  margin-bottom: var(--margin-bottom-figure);
}

.reveal img {
  margin-bottom: var(--margin-bottom-img);
}

.reveal table {
  margin-bottom: var(--margin-bottom-table);
}

.reveal .columns {
  margin-bottom: var(--margin-bottom-columns);
}

.reveal p:empty {
  display: none;
}

/*********************************************
 * MARIO: fullscreen for iframes
 *********************************************/
.reveal div.fs-container {
  margin: auto;
  border: 0px;
  padding: 0px;
  position: relative;
}

.reveal div.fs-container:fullscreen {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  padding: 20px;
}

/* needed for mobile Safari */
*:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
}

.reveal div.fs-container > iframe {
  box-sizing: border-box;
}

.reveal div.fs-container:fullscreen > iframe {
  border: none;
}

.reveal button.fs-button {
  z-index: 100;
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  width: 24px;
  height: 24px;
  padding: 2px;
  border: none;
  border-radius: 4px;
  opacity: 0.5;
  color: var(--whiteboard-inactive-color);
  background-color: rgba(255, 255, 255, 0.5);
}

.reveal button.fs-button:hover {
  opacity: 1;
  color: var(--whiteboard-active-color);
  background-color: rgba(255, 255, 255, 0.8);
}

/*********************************************
 * MARIO: menu icon in top left corner
 *********************************************/
.reveal .slide-menu-button {
  position: fixed;
  left: calc(var(--whiteboard-icon-size) * 0.25);
  top: calc(var(--whiteboard-icon-size) * 0.25);
  bottom: auto;
  right: auto;
  padding: 0;
  margin: auto;
  z-index: 40;
  background: none;
  font-size: var(--whiteboard-icon-size);
  padding: calc(var(--whiteboard-icon-size) * 0.5);
  color: var(--whiteboard-inactive-color);
}

.reveal .slide-menu-button a {
  color: var(--whiteboard-inactive-color);
}

.reveal .slide-menu-button a:hover {
  color: var(--whiteboard-active-color);
}

.reveal .slide-menu-button:hover {
  color: var(--whiteboard-active-color);
}

/*********************************************
 * Audience Response Polls
 *********************************************/
.reveal #poll-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  padding: 1em;
}

.reveal #poll-overlay.loading {
  background: url("../plugins/poll/loading.gif") no-repeat center center;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.reveal #poll-overlay.active {
  display: block;
}

.reveal #poll-overlay a {
  text-decoration: none;
  color: #000;
  font-size: 3vw;
}

.reveal #poll-overlay i {
  position: absolute;
  top: 1em;
  right: 4em;
  color: #eaeaea;
  font-size: 0.7em;
}

.reveal #poll-overlay img {
  margin: 1em auto;
  height: 70%;
}

.reveal #login-div {
  display: none;
  flex-direction: column;
  width: 8em;
  position: absolute;
  right: 2em;
  background-color: #fff;
  height: 100%;
  padding-top: 0.5em;
}

.reveal #login-div.active {
  display: flex;
}

.reveal #login-div button {
  width: max-content;
  margin: 1em;
}

.reveal #login-div input {
  margin: 0.5em 1em;
  line-height: 2em;
  padding: 0 0.5em;
  color: #808080;
}

.reveal #errorDiv {
  color: #f00;
  font-size: 0.5em;
  margin-top: 2em;
}

.reveal .poll .countdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  font-family: monospace;
  border-radius: 10px;
  padding: 0 0.3em;
  border: 0.1em solid #080;
  color: #fff;
  background-color: #080;
}

.reveal .poll .countdown.timed.active {
  display: block;
  background-color: #2a99df;
  border: 0.1em solid #2a99df;
}

.reveal .poll .countdown.timed.active.hurry {
  background-color: #f00;
  border-color: #f00;
  animation: blinks 1s step-end infinite;
  -webkit-animation: blinks 1s step-end infinite;
}

.reveal .poll .active {
  display: block;
}

.reveal .poll ul.choices {
  list-style-type: upper-alpha;
}

.reveal .poll ul.choices li span {
  font-weight: 700;
  display: inline-block;
  margin-right: 1.25vw;
}

.reveal .poll i.fa-qrcode {
  color: #004188;
  margin-right: 1em;
}

.reveal .poll i.fa-qrcode.admin {
  color: #000;
}

.reveal .poll i.fa-sign-in-alt.hidden {
  visibility: hidden;
}

.reveal .poll .poll_results {
  display: none;
  position: absolute;
  right: -10.5vw;
  bottom: 11vh;
  z-index: 41;
  width: 60%;
  height: 40%;
  object-fit: contain;
  border-radius: 10px;
  border: 1px solid #2a9ddf;
  overflow: auto;
  transform-origin: center;
  padding: 0.2em;
}

.reveal .poll .poll_results.active {
  display: block;
}

@keyframes blinks {
  70% {
    visibility: hidden;
  }
}

@-webkit-keyframes blinks {
  70% {
    visibility: hidden;
  }
}

/*********************************************
 * Audience Response Polls - Large Screens
 *********************************************/
@media screen and (min-width: 1680px) {
  .reveal .poll .poll_results {
    right: -8.5vw;
    bottom: 6vh;
  }
}
