/**
 * Decker theme for reveal.js.
 *
 * Based on the white scheme by Hakim El Hattab, http://hakim.se
 */
@import url("../vendor/fontawesome/css/all.css");
@import url("../fonts/roboto.css");
@import url("../fonts/source-code-pro.css");

@import "helper";
@import "columns";
@import "quizzes";
@import "columns";
@import "boxes";
@import "media";
@import "code";
// @import "print"; Fucks up printing

// Global styles
body {
    background: #fff;
    background-color: #fff;
}

.reveal {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: $medium-font-size;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}

::selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none;
}

::-moz-selection {
    color: #fff;
    background: #98bdef;
    text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
    line-height: 1.4;
    text-align: left;
    font-weight: inherit;
    padding: space(0);
}

.reveal p {
    margin: space(1 0);
}

.reveal {

    @each $position in center,
    right {

        section[data-align="#{$position}"]>h1,
        div[data-align="#{$position}"] {
            text-align: $position;
        }
    }
}

.reveal {
    .smallcaps {
        font-variant: small-caps;
    }

    .line-block {
        white-space: pre-line;
    }

    .references {
        height: 17.5em;
        overflow-y: scroll;

        div {
            margin-bottom: space(0.5);
        }
    }

}

// Headers
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    color: rgba(0, 0, 0, 0.87);
    font-family: "Roboto", sans-serif;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    word-wrap: break-word;
    font-weight: normal;
    text-shadow: none;
}

.reveal h1 {
    font-size: 1.6em;
    margin: space(0 0 0.5 0);
}

.reveal h2 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: space(0.1);
}

.reveal h3 {
    font-size: 1.3em;
}

.reveal h4 {
    font-size: 1em;
}

.reveal section {

    &.white,
    &.inverse,
    &.has-dark-background {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #eee;
        }

        color: #fff;
    }
}

// Elements
.reveal p {
    margin: 20px 0;
    line-height: 1.3;
}

.reveal strong,
.reveal b {
    font-weight: bold;
}

.reveal em {
    font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal ol {
    list-style-type: decimal;
}

.reveal ul {
    list-style-type: disc;
}

.reveal ul ul {
    list-style-type: disc;
}

.reveal ul ul ul {
    list-style-type: disc;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display: block;
    margin-left: 40px;
}

.reveal dt {
    font-weight: bold;
}

.reveal dd {
    margin-left: 40px;
}

.reveal {

    q,
    blockquote {
        quotes: none;
    }

    blockquote {
        display: block;
        position: relative;
        width: 70%;
        margin: space(1) auto;
        padding: space(0.25);
        font-style: italic;
        background: rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

        p {

            &:first-child,
            &:last-child {
                display: inline-block;
            }
        }
    }
}

dt {
    font-weight: bold;
}

dd {
    margin-left: space(1);
}

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
}

.reveal table th {
    font-weight: bold;
}

.reveal table th,
.reveal table td {
    text-align: left;
    padding: space(0.2 0.5);
    border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
    text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
    text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
    border-bottom: none;
}

.reveal .slide-number {
    color: #009;
    background-color: rgba(255, 255, 255, 0);
}

.reveal sup {
    vertical-align: super;
    font-size: smaller;
}

.reveal sub {
    vertical-align: sub;
    font-size: smaller;
}

.reveal small {
    display: inline-block;
    font-size: 0.6em;
    line-height: 1.2em;
    vertical-align: top;
}

.reveal small * {
    vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
    color: #009;
    text-decoration: none;
    @include prefix(transition, color 0.15s ease);
}

.reveal a img {
    @include prefix(transition, color 0.15s linear);
}

.reveal a:hover {
    color: #6ca0e8;
    text-shadow: none;
    border: none;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    box-shadow: none;
}

.reveal .roll span:after {
    color: #fff;
    background: #1a53a1;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
    margin: 15px 0px;
    background: rgba(255, 255, 255, 0.12);
    border: none;
    box-shadow: none;
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: #2a76dd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal {
    .controls {
        button {
            opacity: 0;
        }

        .enabled:active {
            margin-top: 0;
        }

        :focus {
            outline: none;
        }

        .slide-number {
            color: #009;
            background-color: rgba(255, 255, 255, 0);
        }
    }
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
    background: rgba(0, 0, 0, 0.2);
    color: #2a76dd;
}

.reveal .progress span {
    background: #777;
    @include prefix(transition,
        width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985));
}

/////////////////////////////////////////////
// Speaker notes
/////////////////////////////////////////////
.reveal {
    .speaker-notes {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #fff;
            font-weight: bold;
            margin-bottom: space(0.2);
        }

        h1 {
            text-decoration: underline;
            margin-bottom: space(0.4);
        }
    }
}

/////////////////////////////////////////////
// Font size modifiers
/////////////////////////////////////////////
.reveal {
    .medium {
        font-size: $medium-font-size;
    }

    .xx-small {
        font-size: $xx-small-font-size;
    }

    .x-small {
        font-size: $x-small-font-size;
    }

    .small {
        font-size: $small-font-size;
    }

    .large {
        font-size: $large-font-size;
    }

    .x-large {
        font-size: $x-large-font-size;
    }

    .xx-large {
        font-size: $xx-large-font-size;
    }
}

/////////////////////////////////////////////
// Slide numbers
/////////////////////////////////////////////
.reveal {
    .slide-number {
        width: 100%;
        text-align: center;
        background: transparent;
        color: gray;
        font-size: 0.4em;
    }
}

/////////////////////////////////////////////
// Pause Overlay
/////////////////////////////////////////////
.reveal {
    .resume-button {
        visibility: hidden;
    }
}

/////////////////////////////////////////////
// Text selection
/////////////////////////////////////////////
.reveal {
    ::selection {
        color: white;
        background: rgba(0, 0, 0, 0.85);
        text-shadow: none;
    }
}
