/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


@import url("../fonts/lato.css");
@import url("../vendor/fontawesome/css/all.css");



/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: #ffffff;
  background-color: #ffffff;
}

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  color: #222; 
}

.reveal .slides section .fragment {
  transition: none; 
}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

/* do not require section to be immediate child of .slides, since
* this will not be the case for PDF export! */
/*.reveal .slides > section, .reveal .slides > section > section {*/
.reveal .slides section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 0; /* MARIO: prevent 20px at top/bottom by reveal.css */
  /*min-height: 100%; [> MARIO: slides should be full height for footer to be positioned correctly <]*/
  text-align: center;
}


/*********************************************
 * MARIO: ALIGNMENT & COLUMNS
 *********************************************/

.reveal .top {
    vertical-align: top;
}

.reveal .middle {
    vertical-align: middle;
}

.reveal .bottom {
    vertical-align: bottom;
}

.reveal .float-left {
    float: left;
}

.reveal .float-right {
    float: right;
}

.reveal .left, .reveal section.left {
    text-align: left;
}

.reveal .center, .reveal section.center {
    text-align: center;
}

.reveal .right, .reveal section.right {
    text-align: right;
}

.reveal .small {
    font-size: 0.7em;
}

.reveal .tiny {
    font-size: 0.6em;
}

.reveal .large {
    font-size: 1.2em;
}

.reveal .tt {
    font-family: monospace;
}

.reveal .boxed {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
.reveal .boxed ol,
.reveal .boxed dl,
.reveal .boxed ul {
  margin-bottom: 0em;
}

.reveal .w10 { margin-left: auto; margin-right: auto; width:10%; }
.reveal .w20 { margin-left: auto; margin-right: auto; width:20%; }
.reveal .w25 { margin-left: auto; margin-right: auto; width:25%; }
.reveal .w30 { margin-left: auto; margin-right: auto; width:30%; }
.reveal .w40 { margin-left: auto; margin-right: auto; width:40%; }
.reveal .w50 { margin-left: auto; margin-right: auto; width:50%; }
.reveal .w60 { margin-left: auto; margin-right: auto; width:60%; }
.reveal .w70 { margin-left: auto; margin-right: auto; width:70%; }
.reveal .w80 { margin-left: auto; margin-right: auto; width:80%; }
.reveal .w90 { margin-left: auto; margin-right: auto; width:90%; }

.reveal .col10 { float:left; width:10%; }
.reveal .col20 { float:left; width:20%; }
.reveal .col25 { float:left; width:25%; }
.reveal .col30 { float:left; width:30%; }
.reveal .col40 { float:left; width:40%; }
.reveal .col50 { float:left; width:50%; }
.reveal .col60 { float:left; width:60%; }
.reveal .col70 { float:left; width:70%; }
.reveal .col80 { float:left; width:80%; }
.reveal .col90 { float:left; width:90%; }


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center;
}

.reveal h1 {
    margin: 20px 0 40px 0;
    font-size: 1.50em;
}

.reveal h2 {
  font-size: 1.3em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 10px 0;
  line-height: 1.3; }

/* MARIO: remove empty paragraphs */
.reveal p:empty { display: none; }

.reveal strong {
    font-weight: bold;
}

.reveal .boldblue {
    font-weight: bold;
	color: #2a9ddf;
}

.reveal b {
    font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal del {
	color: red;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin-bottom: 1em;
}

.reveal ol li,
.reveal dl li,
.reveal ul li {
    margin-bottom: 0.5em;
    margin-left: 40px;
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul,
.reveal ol ul {
    list-style-type: circle;
}

.reveal ol ol {
    list-style-type: lower-roman;
}

.reveal ul ul ul,
.reveal ul ul ol,
.reveal ul ol ul,
.reveal ul ol ol,
.reveal ol ul ul,
.reveal ol ul ol,
.reveal ol ol ul,
.reveal ol ol ol {
    font-size: 0.9em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
    display:     block;
    margin-top:  0.3em;
    font-size:   0.8em;
    margin-left: 10px;
}

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  text-align: left;
  font-size: 0.9em;
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 0px 15px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }


/*********************************************
 * CODE HIGHLGIHTING OF REVEAL
 *********************************************/

.reveal .hljs table {
    margin: initial;
    border: none;
}

.reveal .hljs-ln-code,
.reveal .hljs-ln-numbers {
    padding: 0;
    border: 0; 
}

.reveal .hljs-ln-numbers {
    opacity: 0.6;
    padding-right: 0.75em;
    text-align: right;
    vertical-align: top; 
}

.reveal .hljs[data-line-numbers]:not([data-line-numbers=""]) tr:not(.highlight-line) {
    opacity: 0.3; 
}


/*********************************************
 * CODE HIGHLIGHTING OF MARIO
 *********************************************/

/* box around block of code */
.reveal pre {
    display: block;
    position: relative;
    width: auto;
    margin: 10px auto;
    text-align: center;
}

/* inline code */
.reveal code {
    display: inline;
    padding: 0.2em;
    text-align: left;
    font-family: monospace;
    word-wrap: normal;
}

/* block of code (has to override above inline code)*/
.reveal pre code {
    display: block;
    margin: 5px;
    text-align: left;
    font-size: 0.5em;
    font-family: monospace;
    line-height: 1.45em;
    padding:  16px;
    overflow: auto;
    max-height: 100%;
    word-wrap: normal;
    background-color: #f7f7f7;
}

.reveal pre code.small {
    font-size: 0.4em;
}



/*********************************************
 * TABLES
 *********************************************/

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top:    2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.reveal table caption {
    margin: 10px 0px 0px 0px;
    line-height: 1.2;
    font-style: italic;
    font-size: 0.6em;
    text-align: center;
    caption-side: bottom;
}

.reveal table th {
  font-weight: bold; }

.reveal table th {
    border-bottom: 1px solid;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 1em 0.2em 1em;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
    vertical-align: super;
    font-size: 0.7em;
}

.reveal sub {
    vertical-align: sub;
    font-size: 0.7em;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * MEDIA: images, videos, iframes, figures
 *********************************************/

.reveal img,
.reveal video {
    display: inline-block;
    /* remove the following two lines to get sizing of 
     * rendered code block sizing working */
    /*width: auto;*/
    /*height: auto;*/
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin: 0px;
    border: 0px;
    box-shadow: none;
}

.reveal iframe {
    border: 1px solid lightgray;
    outline: none;
    overflow: hidden;
    max-width:  100%;
    max-height: 100%;
    vertical-align: middle;
}

.reveal figure {
    display: inline-block;
    /*vertical-align: middle;*/
}

.reveal figure>img,
.reveal figure>video,
.reveal figure>iframe {
  margin: auto;
  border: 0px;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
}

.reveal figure figcaption {
  margin: 10px 0px 0px 0px;
  line-height: 1.2;
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a9ddf;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }



/*********************************************
 * MARIO: TITLE SLIDE
 *********************************************/

.white-on-blue {
    color: #ffffff;
    background-color: #2a9ddf;
}

.reveal div.title {
    margin-top:  50px 0 0 0;
    padding:     30px;
    font-weight: bold;
    font-style:  normal;
    font-size:   2em;
    text-align:  center;
}

.reveal div.subtitle {
    margin:      0;
    padding:     0 30px 30px 30px;
    font-weight: normal;
    font-style:  italic;
    font-size:   1.5em;
    text-align:  center;
}

.reveal img.teaser {
    margin:      50px 0 0 0;
    height:      300px;
    width:       auto;
    object-fit:  contain;
}

.reveal div.author {
    margin:      50px 0 0 0;
    font-weight: normal;
    font-style:  normal;
    font-size:   1.0em;
    text-align:  center;
}

.reveal div.affiliation {
    margin:      10px 0 0 0;
    font-weight: normal;
    font-style:  normal;
    font-size:   0.8em;
    text-align:  center;
}

.reveal div.authors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


/*********************************************
 * MARIO: SECTIONS
 *********************************************/

.reveal .section h1 {
    /* white on blue */
    color: #ffffff;
    background-color: #2a9ddf;

    /* large top margin -> vertical centering */
    margin:      100px auto;
    padding:      50px;

    /* large bold font */
    font-weight: bold;
    font-style:  normal;
    font-size:   1.5em;
}


/*********************************************
 * MARIO: image sequence, shown one after the other
 *********************************************/

.fragment.sequence:not(.current-fragment) {
    display: none;
}


/*********************************************
 * MARIO: COMMENT BUBBLES
 *********************************************/

.reveal .bubble {
    display: inline-block;
    font-size: 0.7em;
    color: #ffffff;
    background-color: #2a9ddf;
    padding: 10px;
    margin: auto;
    border-radius:5px;
    /*box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);*/
}

.reveal .comment {
    color: #ffffff;
    background-color: #2a9ddf;
    position:absolute;
    padding:10px;
    border-radius:5px;
    font-size: 0.5em;
}

.reveal .comment-left {
    color: #ffffff;
    background-color: #2a9ddf;
    position:absolute;
    padding:5px;
    font-size: 80%;
    border-radius:20px 20px 0px 20px;
}

.reveal .comment-right {
    color: #ffffff;
    background-color: #2a9ddf;
    position:absolute;
    padding:5px;
    font-size: 80%;
    border-radius:20px 20px 20px 0px;
}

.reveal .comment-big {
    color: #ffffff;
    background-color: #2a9ddf;
    padding:10px;
    border-radius:5px;
}


/*********************************************
 * MARIO: FOOTER COMMENTS
 * either use footer tag or class
 *********************************************/

.reveal footer, 
.reveal .footer {
    position:   absolute;
    display:    block;
    text-align: center;
	margin:     0px;
    padding:    0px;
    font-size:  0.5em;
    width:      auto;
    height:     auto;
    left:       100px;
    right:      100px;
    bottom:     0px;
}

.reveal footer p,
.reveal .footer p {
	margin:  0px;
    padding: 0px;
}


/*********************************************
 * MARIO: GENERIC HIGHLIGHT
 *********************************************/

.reveal .highlight {
    background-color: #fdfbaa;
}

/*********************************************
 * MARIO: margin: auto
 *********************************************/

.reveal .automargin {
    margin: 10px auto;
}

/*********************************************
 * MARIO: ADD SHADOWS (e.g. to images)
 *********************************************/

.reveal .shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.reveal table p {
    margin: 0px;
}

.reveal .neg80 {
    margin-top: -80px;
}

.reveal .neg60 {
    margin-top: -60px;
}

/* class for aligning divs in a row */
.reveal .ilb {
    display: inline-block;
    vertical-align: top;
}

.reveal .transparent {
    opacity: 0.1;
}

/* MARIO: determine menu positioning and sizes relative to vmin */
.reveal .slide-number {
    position:    fixed;
    font-size:   2vmin;
    padding:     1vmin;
    right:       0.5vmin;
    bottom:      0.5vmin;
    font-family: "Lato", sans-serif;
    color:       black;
    background:  white;
}


/*********************************************
 * MARIO: Task lists
 *********************************************/

/* hide checkbox */
.reveal .task-list li>input[type="checkbox"] {
    display: none;
}
/* hide item bullets */
.reveal .task-list li {
    list-style-type: none;
    margin-left: 0.5em;
}
.reveal .task-list li::before {
    margin-right: 0.25em;
}
/* default: check boxes */
.reveal .task-list li.task-yes::before {
    content: "\2612";
}
.reveal .task-list li.task-no::before {
    content: "\2610";
}
/* class "check-cross" */
.reveal .check-cross .task-list li.task-yes::before {
    font-weight: bold;
    color: green; 
    content: "✓";
}
.reveal .check-cross .task-list li.task-no::before {
    font-weight: bold;
    color: red; 
    content: "✗";
}
/* class "plus-minus" */
.reveal .plus-minus .task-list li.task-yes::before {
    color: green; 
    content: "\2295";
}
.reveal .plus-minus .task-list li.task-no::before {
    color: red; 
    content: "\2296";
}
/* class "thumb" */
.reveal .thumb .task-list li.task-yes::before {
    content: "👍";
}
.reveal .thumb .task-list li.task-no::before {
    content: "👎";
}

/*********************************************
 * MARIO: Quizzes with task list syntax
 *********************************************/

/* quiz flex layout */
.reveal .quiz ul {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
    text-align:      center;
    counter-reset:   answer;
}

/* one quiz item */
.reveal .quiz ul li {
    display:       inline-block;
    position:      relative;
    text-align:    left;
    margin:        20px;
    border:        3px solid #2a9ddf;
    border-radius: 20px;
    padding:       20px;
    font-weight:   normal;
    color:         black;
}

/* add A, B, C, D... */
.reveal .quiz .task-list li:before {
    content: counter(answer, upper-latin) ": ";
    counter-increment: answer;
    margin-right: 0.5em;
    font-weight:  bold;
}

/* remove task list checkbox */
.reveal .quiz ul li input[type="checkbox"] {
    display: none;
}

/* 2nd level ul contains tool tip */
.reveal .quiz ul li ul {
    display: inline-block;
    margin:  0;
    padding: 0;
}

/* don't need this for 2nd level */
.reveal .quiz ul li ul li:before {
    display: none;
}

/* tool tip */
.reveal .quiz ul li ul li,
.reveal .quiz .tip {
    display:          block;
    visibility:       hidden;
    max-width:        95%;
    top:              100%;
    left:             5px;
    background-color: grey;
    color:            #ffffff;
    text-align:       center;
    margin:           5px;
    padding:          5px;
    border-radius:    6px;
    border:           none;
    position:         absolute;
    z-index:          1;
    font-size:        1.5rem;
}

/* once clicked, wrong answers are red */
.reveal .quiz ul li.show-wrong {
    background-color: #ffaaaa;
    border:           3px solid red;
}

/* once clicked, correct answers are green */
.reveal .quiz ul li.show-right {
    background-color: #aaffaa;
    border:           3px solid green;
}

/* before being clicked, tool tips are hidden */
.reveal .show-right:hover ul li, 
.reveal .show-wrong:hover ul li, 
.reveal .show-wrong:hover .tip, 
.reveal .show-right:hover .tip {
    visibility: visible;
}


/*********************************************
 * MARIO: MathJax
 *********************************************/

.reveal section mjx-container[display="true"] {
    margin: 0.7em 0em 1em 0em;
}

/* make svg fit to container */
.reveal section mjx-container > svg {
	object-fit: contain;
    max-width: 100%;
}

.reveal section mjx-container > svg a {
	color: #2a9ddf;
	fill: #2a9ddf;
}


/*********************************************
 * MARIO: fullscreen for iframes
 *********************************************/

 .reveal div.fs-container { 
    margin:   auto;
    border:   0px;
    padding:  0px;
    position: relative;
}

.reveal div.fs-container:fullscreen {
    overflow-x:       hidden;
    overflow-y:       auto;
    background-color: white;
    padding:          20px;
}

/* needed for mobile Safari */
*:-webkit-full-screen {
    width:  100% !important;
    height: 100% !important;
}

.reveal div.fs-container>iframe {
    box-sizing: border-box;
}

.reveal div.fs-container:fullscreen>iframe {
    border: none;
}

.reveal button.fs-button { 
    z-index:          100;
    display:          inline-block;
    position:         absolute;
    top:              2px;
    right:            2px;
    cursor:           pointer;
    outline:          none;
    font-size:        20px;
    width:            24px;
    height:           24px;
    padding:          2px;
    border:           none;
    border-radius:    4px;
    opacity:          0.5;
    color:            var(--whiteboard-inactive-color);
    background-color: rgba(255,255,255,0.5);
}

.reveal button.fs-button:hover { 
    opacity:          1.0;
    color:            var(--whiteboard-active-color);
    background-color: rgba(255,255,255,0.8);
}



/*********************************************
 * MARIO: bibliogrphy
 *********************************************/

.reveal .references {
    margin:        auto;
    max-height:    600px;
    width:         90%;
    overflow-y:    auto;
}

.reveal .references>div {
    padding-left:  1em;
    text-indent:   -1em;
    text-align:    left;
    margin-bottom: 1em;
}


/*********************************************
 * MARIO: matching questions
 *********************************************/

.reveal .matching {
  text-align: center;
}

.reveal .matching .dropzones,
.reveal .matching .dragzone {
    display:         flex;
    flex-flow:       row nowrap;
    align-items:     stretch;
    justify-content: space-around;
    position:        relative;
    width:           100%;
    min-height:      100px;
    padding:         15px;
    border:          2px solid #dddddd;
    border-radius:   5px;
    box-sizing:      border-box;
}

.reveal .matching .dropzones {
    margin-bottom: 60px;
}

.reveal .matching .dragzone:before,
.reveal .matching .dropzones:before {
    position:   absolute;
    top:        -15px;
    left:       10px;
    font-size:  15px;
    background: white;
    padding:    5px;
    color:      grey;
}
.reveal .matching .dragzone:before {
    content: "drag from here";
}
.reveal .matching .dropzones:before {
    content: "drop here";
}

.reveal .matching .dragzone:after {
    position:      absolute;
    content:       " ";
    width:         0;
    height:        0;
    top:           -30px;
    border-left:   30px solid transparent;
    border-right:  30px solid transparent;
    border-bottom: 30px solid #dddddd;
}

.reveal .matching .dropzone {
    display:    block;
    flex:       1 0 0;
    padding:    10px;
    margin:     5px;
    border:     1px solid black;
    text-align: center;
}

.reveal .matching .draggable {
    display:        block;
    vertical-align: middle;
    overflow:       hidden;
    border:         2px solid #2a9ddf;
    border-radius:  10px;
    padding:        10px;
    background:     white;
    cursor:         grab;
}
.reveal .matching .dropzone .draggable {
    display:    block;
    border:     none;
    background: inherit;
}

.reveal .matching .draggableChild {
    pointer-events: none;
}

.reveal select {
    font:        inherit;
    font-size:   0.9em;
    font-weight: normal;
    padding:     5px;
    border:      2px solid #2a9ddf;
    background:  white;
}

.reveal select option {
    font:        inherit;
    font-size:   0.9em;
    max-height:  1em;
    min-height:  1em !important;
    font-weight: normal;
}

.reveal input {
    font:        inherit;
    font-size:   0.9em;
    font-weight: normal;
    margin:      0.5em;
    padding:     10px;
    border:      2px solid #2a9ddf;
}

.reveal button.freetextAnswerButton,
.reveal button.btAnswerButton,
.reveal button.matchingAnswerButton,
.reveal button.retryButton
{
    font:        inherit;
    font-size:   0.7em;
    font-weight: normal;
    margin:      0.5em;
    padding:     10px;
    background:  #eeeeee;
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

