@import url("../fonts/lato.css");

:root {
  --blue: #2a9ddf;
  --light-blue: #30B3FF;
}

body {
    background: #ffffff;
    background-color: #ffffff;
    font-family: "Lato";
    color: #222; 
}

header {
    background: var(--blue);
    text-align: center;
}

header > h1, header > h2 {
    color: white;
}

header > h1 {
    font-size: 45px;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--light-blue);
}
