@import url("../fonts/lato.css");

body {
    background: #ffffff;
    background-color: #ffffff;
    font-family: "Lato";
    color: #222; 
}

header {
    background: #2a9ddf;
    text-align: center;
}

header > h1, header > h2 {
    color: white;
}

header > h1 {
    font-size: 45px;
}

a {
    color: #2a9ddf;
}
