/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


@import url("../fonts/lato.css");
@import url("../vendor/fontawesome/css/all.css");

:root {
  --blue: #2a9ddf;
  --light-blue: #30B3FF;
  --emphColor: var(--blue);
}

:root {
  --icon-active-color: #2a9ddf;
  --icon-inactive-color: lightgrey;
  --icon-size: 2vmin;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
  background: #ffffff;
  background-color: #ffffff;
}

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #222; 
}

.reveal .slides section .fragment {
  transition: none; 
}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

/* do not require section to be immediate child of .slides, since
* this will not be the case for PDF export! */
/*.reveal .slides > section, .reveal .slides > section > section {*/
.reveal .slides section {
  line-height: 1.3;
  font-weight: inherit;
  text-align: center;
  padding: 0;
}


/*********************************************
 * MARIO: ALIGNMENT & COLUMNS
 *********************************************/

.reveal .top {
    vertical-align: top;
}

.reveal .middle {
    vertical-align: middle;
}

.reveal .bottom {
    vertical-align: bottom;
}

.reveal .float-left {
    float: left;
}

.reveal .float-right {
    float: right;
}

.reveal .left, .reveal section.left {
    text-align: left;
}

.reveal .center, .reveal section.center {
    text-align: center;
}

.reveal .right, .reveal section.right {
    text-align: right;
}

.reveal .small {
    font-size: 0.7em;
}

.reveal .tiny {
    font-size: 0.6em;
}

.reveal .large {
    font-size: 1.2em;
}

.reveal .tt {
    font-family: monospace;
}

.reveal .boxed {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.reveal .boxed ol,
.reveal .boxed dl,
.reveal .boxed ul {
  margin-bottom: 0em;
}

.reveal .w10 { margin-left: auto; margin-right: auto; width:10%; }
.reveal .w20 { margin-left: auto; margin-right: auto; width:20%; }
.reveal .w25 { margin-left: auto; margin-right: auto; width:25%; }
.reveal .w30 { margin-left: auto; margin-right: auto; width:30%; }
.reveal .w40 { margin-left: auto; margin-right: auto; width:40%; }
.reveal .w50 { margin-left: auto; margin-right: auto; width:50%; }
.reveal .w60 { margin-left: auto; margin-right: auto; width:60%; }
.reveal .w70 { margin-left: auto; margin-right: auto; width:70%; }
.reveal .w80 { margin-left: auto; margin-right: auto; width:80%; }
.reveal .w90 { margin-left: auto; margin-right: auto; width:90%; }

.reveal .col10 { float:left; width:10%; }
.reveal .col20 { float:left; width:20%; }
.reveal .col25 { float:left; width:25%; }
.reveal .col30 { float:left; width:30%; }
.reveal .col33 { float:left; width:33%; }
.reveal .col40 { float:left; width:40%; }
.reveal .col50 { float:left; width:50%; }
.reveal .col60 { float:left; width:60%; }
.reveal .col70 { float:left; width:70%; }
.reveal .col80 { float:left; width:80%; }
.reveal .col90 { float:left; width:90%; }


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
  text-align: center;
}

.reveal h1 {
    margin: 20px 0 40px 0;
    font-size: 1.50em;
}

.reveal h2 {
  font-size: 1.3em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/* do not show empty headers */
.reveal h1:empty,
.reveal h2:empty {
  display: none;
}


/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 10px 0;
  line-height: 1.3; 
}

/* MARIO: do not completely remove empty paragraphs with display:none.
 * Instead let them cause a line break, but not eat up more space */
.reveal p:empty { 
  display: block;
  margin:  0;
  padding: 0;
  height:  0;
  width:   auto;
}

.reveal strong {
    font-weight: bold;
}

.reveal .boldblue {
  font-weight: bold;
  color: var(--emphColor);
}

.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal del {
	color: red;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin-bottom: 0.7em;
}

/* remove bottom margin of last list element on a slide
   list element might be encapsulated in a div, e.g.
   for .incremental or .colXY.
   also remove bottom margin of last element on slide,
   no matter what type it is. */
.reveal .slides section > *:last-child,
.reveal .slides section > ul:last-child,
.reveal .slides section > ol:last-child,
.reveal .slides section > div > ol:last-child,
.reveal .slides section > div > ul:last-child {
  margin-bottom: 0;
}

.reveal ol li,
.reveal dl li,
.reveal ul li {
    margin-bottom: 0.5em;
    margin-left: 40px;
}

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul,
.reveal ol ul {
  list-style-type: circle;
}

.reveal ol ol {
  list-style-type: lower-roman;
}

.reveal ul ul ul,
.reveal ul ul ol,
.reveal ul ol ul,
.reveal ul ol ol,
.reveal ol ul ul,
.reveal ol ul ol,
.reveal ol ol ul,
.reveal ol ol ol {
  font-size: 0.9em;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display:     block;
  margin-top:  0.3em;
  font-size:   0.8em;
  margin-left: 10px;
}

.reveal dt {
  font-weight: bold; 
}

.reveal dd {
  margin-left: 40px; 
}

.reveal q,
.reveal blockquote {
  quotes: none; 
}

.reveal blockquote {
  display: block;
  text-align: left;
  font-size: 0.9em;
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 0px 15px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); 
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: block; 
}

.reveal q {
  font-style: italic; 
}


/*********************************************
 * CODE HIGHLGIHTING OF REVEAL
 *********************************************/

.reveal .hljs table {
    margin: initial;
    border: none;
}

.reveal .hljs-ln-code,
.reveal .hljs-ln-numbers {
    padding: 0;
    border: 0; 
}

.reveal .hljs-ln-numbers {
    opacity: 0.6;
    padding-right: 0.75em;
    text-align: right;
    vertical-align: top; 
}

.reveal .hljs[data-line-numbers]:not([data-line-numbers=""]) tr:not(.highlight-line) {
    opacity: 0.3; 
}


/*********************************************
 * CODE HIGHLIGHTING OF MARIO
 *********************************************/

/* box around block of code */
.reveal pre {
    display: block;
    position: relative;
    width: auto;
    margin: 10px;
    text-align: center;
    overflow-y: auto;
    max-height: 500px;
}

/* inline code */
.reveal code {
    display: inline;
    padding: 0.2em;
    text-align: left;
    font-family: monospace;
    word-wrap: normal;
}

/* block of code (has to override above inline code)*/
.reveal pre code {
    display: block;
    text-align: left;
    font-size: 0.5em;
    font-family: monospace;
    line-height: 1.45em;
    padding:  16px;
    overflow: auto;
    max-height: 100%;
    word-wrap: normal;
    background-color: #f7f7f7;
    box-sizing: border-box;
}

/* MacOS only shows scrollbars when they are used, which is not a 
   good idea for code blocks. The following settings show the scrollbar.
   Only works on WebKit browswers (Chrome, Safari), not on Firefox. */
.reveal pre code.small {
    font-size: 0.4em;
}
.reveal pre::-webkit-scrollbar {
  width:9px;
}
.reveal pre::-webkit-scrollbar-track {
  -webkit-border-radius:5px;
  border-radius:5px;
  background:rgba(0,0,0,0.1);
}
.reveal pre::-webkit-scrollbar-thumb {
  -webkit-border-radius:5px;
  border-radius:5px;
  background:rgba(0,0,0,0.2);
}
.reveal pre::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.4);
}




/*********************************************
 * TABLES
 *********************************************/

.reveal table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 2px;
    border-top:    2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.5em;
}

.reveal table caption {
    margin: 10px 0px 0px 0px;
    line-height: 1.2;
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
    caption-side: bottom;
}

.reveal table th {
  font-weight: bold; }

.reveal table th {
    border-bottom: 1px solid;
}

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 1em 0.2em 1em;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
    vertical-align: super;
    font-size: 0.7em;
}

.reveal sub {
    vertical-align: sub;
    font-size: 0.7em;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: var(--blue);
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: var(--light-blue);
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * MEDIA: images, videos, iframes, figures
 *********************************************/

.reveal img,
.reveal video {
  display: inline-block;
  /* remove the following two lines to get sizing of 
    * rendered code block sizing working */
  /*width: auto;*/
  /*height: auto;*/
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: 0px;
  border: 0px;
  box-shadow: none;
}

.reveal iframe {
  border: 1px solid lightgray;
  outline: none;
  overflow: hidden;
  max-width:  100%;
  max-height: 100%;
  vertical-align: middle;
}

.reveal figure {
  display: inline-block;
}

.reveal figure.streaming,
.reveal div.nofigure.streaming {
  width: 80%;
  margin: 0 auto;
}

.reveal figure>img,
.reveal figure>video,
.reveal figure>iframe {
  margin: auto;
  border: 0px;
  box-shadow: none;
  max-width: 100%;
  max-height: 100%;
}

.reveal figure figcaption {
  margin: 10px 0px 0px 0px;
  line-height: 1.2;
  font-style: italic;
  font-size: 0.6em;
  text-align: center;
}

/* set encapsulating span to inline-block,
   otherwise SVGs cannot be scaled */
span.decker.svg.embed {
  display: inline-block;
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: var(--emphColor);
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }



/*********************************************
 * MARIO: TITLE SLIDE
 *********************************************/

.white-on-blue {
    color: #ffffff;
    background-color: var(--emphColor);
}

.reveal div.title {
    margin-top:  50px 0 0 0;
    padding:     30px;
    font-weight: bold;
    font-style:  normal;
    font-size:   2em;
    text-align:  center;
}

.reveal div.subtitle {
    margin:      0;
    padding:     0 30px 30px 30px;
    font-weight: normal;
    font-style:  italic;
    font-size:   1.5em;
    text-align:  center;
}

.reveal img.teaser {
    margin:      50px 0 0 0;
    height:      300px;
    width:       auto;
    object-fit:  contain;
}

.reveal div.author {
    margin:      50px 0 0 0;
    font-weight: normal;
    font-style:  normal;
    font-size:   1.0em;
    text-align:  center;
}

.reveal div.affiliation {
    margin:      10px 0 0 0;
    font-weight: normal;
    font-style:  normal;
    font-size:   0.8em;
    text-align:  center;
}

.reveal div.authors {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


/*********************************************
 * MARIO: SECTIONS
 *********************************************/

.reveal .section h1 {
    /* white on blue */
    color: #ffffff;
    background-color: var(--emphColor);

    /* large top margin -> vertical centering */
    margin:      100px auto;
    padding:      50px;

    /* large bold font */
    font-weight: bold;
    font-style:  normal;
    font-size:   1.5em;
}


/*********************************************
 * MARIO: image sequence, shown one after the other
 *********************************************/

@media not print {
  .reveal section .sequence.fragment:not(.current-fragment),
  .reveal section .fragment.sequence:not(.current-fragment) {
      display: none;
  }
}
/* when in print mode, show only first image */
@media print {
  .reveal section .sequence.fragment:not(:last-of-type), 
  .reveal section .fragment.sequence:not(:last-of-type) {
      display: none;
  }
}

/*********************************************
 * MARIO: COMMENT BUBBLES
 *********************************************/

.reveal .bubble {
    display: inline-block;
    font-size: 0.7em;
    color: #ffffff;
    background-color: var(--emphColor);
    padding: 10px;
    margin: auto;
    border-radius:5px;
    /*box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.35);*/
}

.reveal .comment {
    color: #ffffff;
    background-color: var(--emphColor);
    position:absolute;
    padding:10px;
    border-radius:5px;
    font-size: 0.5em;
}

.reveal .comment-left {
    color: #ffffff;
    background-color: var(--emphColor);
    position:absolute;
    padding:5px;
    font-size: 80%;
    border-radius:20px 20px 0px 20px;
}

.reveal .comment-right {
    color: #ffffff;
    background-color: var(--emphColor);
    position:absolute;
    padding:5px;
    font-size: 80%;
    border-radius:20px 20px 20px 0px;
}

.reveal .comment-big {
    color: #ffffff;
    background-color: var(--emphColor);
    padding:10px;
    border-radius:5px;
}


/*********************************************
 * MARIO: FOOTER COMMENTS
 * either use footer tag or class
 *********************************************/

.reveal footer, 
.reveal .footer {
    position:   absolute;
    display:    block;
    text-align: center;
    margin:     0px;
    padding:    0px;
    font-size:  0.5em;
    width:      auto;
    height:     auto;
    left:       100px;
    right:      100px;
    bottom:     0.5em;
}

.reveal footer p,
.reveal .footer p {
    margin:  0px;
    padding: 0px;
}


/*********************************************
 * MARIO: GENERIC HIGHLIGHT
 *********************************************/

.reveal .highlight {
    background-color: #fdfbaa;
}

/*********************************************
 * MARIO: margin: auto
 *********************************************/

.reveal .automargin {
    margin: 10px auto;
}

/*********************************************
 * MARIO: ADD SHADOWS (e.g. to images)
 *********************************************/

.reveal .shadow {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.reveal table p {
    margin: 0px;
}

.reveal .neg80 {
    margin-top: -80px;
}

.reveal .neg60 {
    margin-top: -60px;
}

/* class for aligning divs in a row */
.reveal .ilb {
    display: inline-block;
    vertical-align: top;
}

.reveal .transparent {
    opacity: 0.1;
}

/* MARIO: slide number and control arrows */
.reveal .controls {
  font-size: 1.2vmin;
  bottom:    0;
  right:     1.2vmin;
}
.reveal .slide-number {
  position:    fixed;
  padding:     7px;
  font-size:   2vmin;
  width:       3vmin;
  bottom:      2vmin;
  right:       4.6vmin;
  text-align:  center;
  font-family: "Lato", sans-serif;
  color:       black;
  background:  #ffffff00;
}
.reveal .controls-arrow {
  color: var(--icon-inactive-color);
}
.reveal .controls-arrow:hover {
  color: var(--icon-active-color);
}
.reveal .slide-number a {
  color:       black;
}

/*********************************************
 * MARIO: Task lists
 *********************************************/

/* hide checkbox */
.reveal ul.task-list li>input[type="checkbox"] {
    display: none;
}
/* hide item bullets */
.reveal ul.task-list>li {
    list-style-type: none;
    margin-left: 0.5em;
}
.reveal ul.task-list>li::before {
    margin-right: 0.25em;
}
/* default: check boxes */
.reveal ul.task-list>li.task-yes::before {
    content: "\2612";
}
.reveal ul.task-list>li.task-no::before {
    content: "\2610";
}
/* class "check-cross" */
.reveal .check-cross .task-list li.task-yes::before {
    font-weight: bold;
    color: green; 
    content: "✓";
}
.reveal .check-cross .task-list li.task-no::before {
    font-weight: bold;
    color: red; 
    content: "✗";
}
/* class "plus-minus" */
.reveal .plus-minus .task-list li.task-yes::before {
    color: green; 
    content: "\2295";
}
.reveal .plus-minus .task-list li.task-no::before {
    color: red; 
    content: "\2296";
}
/* class "thumb" */
.reveal .thumb .task-list li.task-yes::before {
    content: "👍";
}
.reveal .thumb .task-list li.task-no::before {
    content: "👎";
}

/*********************************************
 * MARIO: MathJax
 *********************************************/

.reveal section mjx-container[display="true"] {
    margin: 0.7em 0em 1em 0em;
}

.reveal section mjx-container > svg a {
	color: var(--emphColor);
	fill: var(--emphColor);
}


/*********************************************
 * MARIO: fullscreen for iframes
 *********************************************/

 .reveal div.fs-container { 
    margin:   auto;
    border:   0px;
    padding:  0px;
    position: relative;
}

.reveal div.fs-container:fullscreen {
    overflow-x:       hidden;
    overflow-y:       auto;
    background-color: white;
    padding:          20px;
}

/* needed for mobile Safari */
*:-webkit-full-screen {
    width:  100% !important;
    height: 100% !important;
}

.reveal div.fs-container>iframe {
    box-sizing: border-box;
}

.reveal div.fs-container:fullscreen>iframe {
    border: none;
}

.reveal button.fs-button { 
    z-index:          100;
    display:          inline-block;
    position:         absolute;
    top:              2px;
    right:            2px;
    cursor:           pointer;
    outline:          none;
    font-size:        20px;
    width:            24px;
    height:           24px;
    padding:          2px;
    border:           none;
    border-radius:    4px;
    opacity:          0.5;
    color:            var(--icon-inactive-color);
    background-color: rgba(255,255,255,0.5);
}

.reveal button.fs-button:hover { 
    opacity:          1.0;
    color:            var(--icon-active-color);
    background-color: rgba(255,255,255,0.8);
}



/*********************************************
 * MARIO: menu icon in top left corner
 *********************************************/

.reveal .slide-menu-button {
    position:   fixed;
    left:       calc(var(--icon-size) * 0.25);
    top:        calc(var(--icon-size) * 0.25);
    bottom:     auto;
    right:      auto;
    padding:    calc(var(--icon-size) * 0.5);
    margin:     auto;
    z-index:    40;
    background: none;
    font-size:  var(--icon-size);
    opacity:    0.5;
    color:      var(--icon-inactive-color);
}

.reveal .slide-menu-button:hover {
    opacity: 1.0;
    color: var(--icon-active-color);
}

.reveal .slide-menu-button a {
    color: inherit;
}


/*********************************************
 * MARIO: style Henrik's question panel
 *********************************************/

div.open-button {
    position:   fixed;
    left:       auto;
    right:      calc(var(--icon-size) * 0.25);
    top:        calc(var(--icon-size) * 0.25);
    bottom:     auto;
    margin:     calc(var(--icon-size) * 0.5);
    padding:    0.2em;
    z-index:    40;
    background: none;
    font-size:  var(--icon-size);
    color:      var(--icon-inactive-color);
}

div.open-button.i {
  opacity: 0.5;
}

div.open-button:hover,
div.q-panel button:hover,
div.q-panel div.q-header button:hover,
div.q-panel div.q-footer div.q-login:not(.admin):hover {
    opacity: 1.0;
    color: var(--icon-active-color);
}

div.open-badge {
    font-size: 0.5em;
}

div.q-panel {
  background-color: rgba(100, 100, 100, 0.2);
}

body.print-pdf div.open-button {
  display: none;
}


/*********************************************
 * MARIO: bibliography
 *********************************************/

.reveal .references {
    margin:        auto;
    max-height:    600px;
    width:         90%;
    overflow-y:    auto;
}

.reveal .references>div {
    padding-left:  1em;
    text-indent:   -1em;
    text-align:    left;
    margin-bottom: 1em;
}


/*********************************************
 * MARIO: Quizzes with task list syntax
 *********************************************/

/* quiz flex layout */
.reveal .quiz ul {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items:     center;
    align-content:   center;
    text-align:      center;
    counter-reset:   answer;
    margin-top:      1em;
}

/* one quiz item */
.reveal .quiz ul li {
    display:       inline-block;
    position:      relative;
    text-align:    left;
    margin:        0.5em;
    border:        3px solid var(--emphColor);
    border-radius: 0.5em;
    padding:       0.5em;
    font-weight:   normal;
    color:         black;
}

/* add A, B, C, D... */
.reveal .quiz ul.task-list>li::before {
    content: counter(answer, upper-latin) ": ";
    counter-increment: answer;
    margin-right: 0.5em;
    font-weight:  bold;
}

/* remove task list checkbox */
.reveal .quiz ul.task-list li>input[type="checkbox"] {
    display: none;
}

/* 2nd level ul contains tool tip */
.reveal .quiz ul.task-list li ul {
    display: inline-block;
    margin:  0;
    padding: 0;
}

/* don't need this for 2nd level */
.reveal .quiz ul.task-list li ul li::before {
    display: none;
}

/* tool tip */
.reveal .quiz ul li ul li {
    display:          block;
    visibility:       hidden;
    max-width:        95%;
    top:              100%;
    left:             5px;
    background-color: grey;
    color:            #ffffff;
    text-align:       center;
    margin:           5px;
    padding:          5px;
    border-radius:    6px;
    border:           none;
    position:         absolute;
    z-index:          1;
    font-size:        1.5rem;
}

/* once clicked, wrong answers are red */
.reveal .quiz ul li.show-wrong {
    background-color: #ffaaaa;
    border:           3px solid red;
}

/* once clicked, correct answers are green */
.reveal .quiz ul li.show-right {
    background-color: #aaffaa;
    border:           3px solid green;
}

/* tool tips are shown on hover */
.reveal .show-right:hover ul li, 
.reveal .show-wrong:hover ul li {
    visibility: visible;
}



/*********************************************
 * MARIO: new quizzes
 *********************************************/

.reveal .qic button,
.reveal .qft button,
.reveal .qmc button,
.reveal .qmi button,
.reveal [class*="quiz-"] button {
    font:        inherit;
    font-size:   0.7em;
    font-weight: normal;
    font-family: inherit;
    margin:      0.5em;
    padding:     10px;
    background:  #eeeeee;
    border: 2px solid #dddddd;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.reveal .quiz-ft button,
.reveal .qft button {
    display: none;
}

.reveal .qic input,
.reveal .qft input,
.reveal .qmc input,
.reveal .qmi input,
.reveal [class*="quiz-"] input {
    font:        inherit;
    font-size:   0.9em;
    font-weight: normal;
    font-family: inherit;
    margin:      0.5em;
    padding:     10px;
    border:      2px solid var(--emphColor);
    outline:     none;
}

.reveal .qft input.show-right,
.reveal [class*="quiz-"] input.show-right {
  background-color: #aaffaa;
  border:           3px solid green;
}

.reveal .qft input.show-wrong,
.reveal [class*="quiz-"] input.show-wrong {
  background-color: #ffaaaa;
  border:           3px solid red;
}

.reveal .qic .solutionList,
.reveal .qft .solutionList,
.reveal .qmc .solutionList,
.reveal .qmi .solutionList,
.reveal [class*="quiz-"] .solutionList {
  list-style-type: none;
  display: none;
  color: #ffffff;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  position: fixed;
  z-index: 99;
  font-size: 1rem;
}

.reveal .qic .solutionList.solved,
.reveal .qft .solutionList.solved,
.reveal [class*="quiz-"] .solutionList.solved {
  display: initial;
}
.reveal .qic .solutionList li,
.reveal .qft .solutionList li,
.reveal .qmc .solutionList li,
.reveal .qmi .solutionList li,
.reveal [class*="quiz-"] .solutionList li {
    display: none;
    margin-left: 5px;
    list-style-type: none;
}

.reveal .qic .solutionList li.solved,
.reveal .qft .solutionList li.solved,
.reveal [class*="quiz-"] .solutionList li.solved {
  display: block;
  background-color: grey;
  padding: 0.5em;
  border-radius: 8px;
}
.reveal .qic .solutionList .correct:before,
.reveal .qft .solutionList .correct:before,
.reveal .qmc .solutionList .correct:before,
.reveal .qmi .solutionList .correct:before,
.reveal [class*="quiz-"] .solutionList .correct:before {
    content: "✓";
    font: inherit;
    margin-right: 0.5em;
}

.reveal .qic .solutionList .wrong:before,
.reveal .qft .solutionList .wrong:before,
.reveal .qmc .solutionList .wrong:before,
.reveal .qmi .solutionList .wrong:before,
.reveal [class*="quiz-"] .solutionList .wrong:before {
    content: "✗";
    font: inherit;
    margin-right: 0.5em;
}

.reveal .qft .solutionList .tooltip,
.reveal [class*="quiz-f"] .solutionList .tooltip {
    margin-left: 1.3em;
}

.reveal .qic .solutionDiv,
.reveal .qft .solutionDiv,
.reveal [class*="quiz-"] .solutionDiv {
  padding: 0.5em;
  border-radius: 6px;
  display: block;
  visibility: hidden;
  list-style-type: none;
}

.reveal .qic .solutionDiv.hidden,
.reveal .qft .solutionDiv.hidden,
.reveal [class*="quiz-"] .solutionDiv.hidden {
  display: none;
}

.reveal .qic .solutionDiv.solved,
.reveal .qft .solutionDiv.solved,
.reveal [class*="quiz-"] .solutionDiv.solved {
  visibility: visible;
  width: 91%; 
}

.reveal .qic select,
.reveal [class*="quiz-i"] select {
    font:        inherit;
    font-size:   0.9em;
    font-weight: normal;
    padding:     5px;
    border:      2px solid var(--emphColor);
    background:  white;
    outline:     none;
}

.reveal .qic select.show-right,
.reveal [class*="quiz-"] select.show-right {
  background-color: #aaffaa;
  border:           3px solid green;
}

.reveal .qic select.show-wrong,
.reveal [class*="quiz-"] select.show-wrong {
  background-color: #ffaaaa;
  border:           3px solid red;
}

.reveal .qic select :disabled,
.reveal [class*="quiz-i"] select :disabled {
  color: black;
}

.reveal .qic option,
.reveal [class*="quiz-i"] option {
    font:        inherit;
    font-size:   16px;
    font-weight: normal;
}

.reveal .qic .tooltip-div,
.reveal [class*="quiz-i"] .tooltip-div {
  font-size:          0.6em;
  margin:             0.5em auto 0 auto;
  padding:            0.5em;
  visibility:         hidden;
}

.reveal .qic .tooltip-div.solved,
.reveal [class*="quiz-i"] .tooltip-div.solved {
  visibility: visible;  
}

.reveal .qic .tooltip-div.solved .tooltip,
.reveal [class*="quiz-i"] .tooltip-div.solved .tooltip {
  background-color: #f4f4f7;
}

.reveal .quiz-mi,
.reveal .qmi,
.reveal .quiz-match-items {
  display: block;
  overflow-y: auto;
  text-align: center;
}

.reveal .quiz-mi .draggableChild,
.reveal .qmi .draggableChild,
.reveal .quiz-match-items .draggableChild {
  pointer-events: none;
}

.reveal .quiz-mi .buckets,
.reveal .quiz-mi .matchItems,
.reveal .qmi .buckets,
.reveal .qmi .matchItems,
.reveal .quiz-match-items .buckets,
.reveal .quiz-match-items .matchItems {
    display:         flex;
    flex-flow:       row nowrap;
    align-items:     stretch;
    justify-content: space-around;
    position:        relative;
    width:           100%;
    min-height:      100px;
    padding:         15px;
    border:          2px solid #dddddd;
    border-radius:   5px;
    box-sizing:      border-box;
    margin-bottom:   60px;
    margin-top:      20px;
}

.reveal .quiz-mi .buckets,
.reveal .qmi .buckets,
.reveal .quiz-match-items .buckets {
    margin-bottom:   20px;
    margin-top:      60px;
}

.reveal .quiz-mi .buckets:before,
.reveal .quiz-mi .matchItems:before,
.reveal .qmi .buckets:before,
.reveal .qmi .matchItems:before,
.reveal .quiz-match-items .buckets:before,
.reveal .quiz-match-items .matchItems:before {
    position:   absolute;
    top:        -15px;
    left:       10px;
    font-size:  15px;
    background: white;
    padding:    5px;
    color:      grey;
}

.reveal .quiz-mi .matchItems:before,
.reveal .qmi .matchItems:before,
.reveal .quiz-match-items .matchItems:before {
    content: "Drag objects from here...";
}

.reveal .quiz-mi .buckets:before,
.reveal .qmi .buckets:before,
.reveal .quiz-match-items .buckets:before {
    content: "...and drop them here into the correct category";
}

:lang(de) .reveal .quiz-mi .matchItems:before,
:lang(de) .reveal .qmi .matchItems:before,
:lang(de) .reveal .quiz-match-items .matchItems:before {
    content: "Objekte per Drag & Drop nach unten ziehen...";
}

:lang(de) .reveal .quiz-mi .buckets:before,
:lang(de) .reveal .qmi .buckets:before,
:lang(de) .reveal .quiz-match-items .buckets:before {
    content: "...und hier in die richtige Kategorie einsortieren";
}

.reveal .quiz-mi .matchItems:after,
.reveal .qmi .matchItems:after,
.reveal .quiz-match-items .matchItems:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  bottom: -30px;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #dddddd;
}

.reveal .quiz-mi .bucket,
.reveal .qmi .bucket,
.reveal .quiz-match-items .bucket {
  display: block;
  flex: 1 0 0;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  text-align: center;
}

.reveal .quiz-mi .matchItem,
.reveal .qmi .matchItem,
.reveal .quiz-match-items .matchItem {
    display:        block;
    vertical-align: middle;
    overflow:       hidden;
    border:         2px solid var(--emphColor);
    border-radius:  10px;
    padding:        10px;
    background:     white;
    cursor:         grab;
}

.reveal .quiz-mi .matchItem .solution,
.reveal .qmi .matchItem .solution,
.reveal .quiz-match-items .matchItem .solution {
  visibility: hidden;
  font-size: large;
}

.reveal .quiz-mi .matchItem:hover .solution,
.reveal .qmi .matchItem:hover .solution,
.reveal .quiz-match-items .matchItem:hover .solution {
  visibility: visible;
  font-size: large;
}

.reveal .quiz-mi .bucket .matchItem,
.reveal .qmi .bucket .matchItem,
.reveal .quiz-match-items .bucket .matchItem {
  display: block;
  border: none;
  background: inherit;
}

.reveal .quiz-mi .bucket .matchItem.show-right,
.reveal .qmi .bucket .matchItem.show-right,
.reveal .quiz-match-items .bucket .matchItem.show-right,
.reveal .quiz-mi .matchItems .matchItem.show-right,
.reveal .qmi .matchItems .matchItem.show-right,
.reveal .quiz-match-items .matchItems .matchItem.show-right {
  background-color: #aaffaa;
  border:           3px solid green;
}

.reveal .quiz-mi .bucket .matchItem.show-wrong,
.reveal .qmi .bucket .matchItem.show-wrong,
.reveal .quiz-match-items .bucket .matchItem.show-wrong,
.reveal .quiz-mi .matchItems .matchItem.show-wrong,
.reveal .qmi .matchItems .matchItem.show-wrong,
.reveal .quiz-match-items .matchItems .matchItem.show-wrong {
  background-color: #ffaaaa;
  border:           3px solid red;
}

.reveal .quiz-multiple-choice ul,
.reveal .quiz-mc ul,
.reveal .qmc ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  counter-reset: answer;
}

.reveal .quiz-multiple-choice li,
.reveal .quiz-mc li,
.reveal .qmc li {
  display: inline-block;
  position: relative;
  text-align: left;
  margin: 20px;
  border: 2px solid var(--emphColor);
  border-radius: 20px;
  padding: 20px;
  font-weight: normal;
  color: black;
}

.reveal .quiz-multiple-choice li.show-right,
.reveal .quiz-mc li.show-right,
.reveal .qmc li.show-right {
  background-color: #aaffaa;
  border:           3px solid green;
}

.reveal .quiz-multiple-choice li.show-wrong,
.reveal .quiz-mc li.show-wrong,
.reveal .qmc li.show-wrong {
  background-color: #ffaaaa;
  border:           3px solid red;
}

.reveal .quiz-multiple-choice li:before,
.reveal .quiz-mc li:before,
.reveal .qmc li:before {
  content: counter(answer, upper-latin) ": ";
  counter-increment: answer;
  margin-right: 0.5em;
  font-weight: bold;
}

.reveal .quiz-multiple-choice .tooltip,
.reveal .quiz-mc .tooltip,
.reveal .qmc .tooltip {
  display: block;
  visibility: hidden;
  max-width: 95%;
  top: 100%;
  left: 5px;
  background-color: grey;
  color: #ffffff;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  position: absolute;
  z-index: 1;
  font-size: 1rem;
}

.reveal .quiz-multiple-choice [class*="show-"]:hover .tooltip,
.reveal .quiz-mc [class*="show-"]:hover .tooltip,
.reveal .qmc [class*="show-"]:hover .tooltip {
  visibility: visible;
}