<script type="module">
  // import Reveal and all plugins 
  import Reveal from './$decker-support-dir$/vendor/reveal/dist/reveal.esm.js';
  import deckerPlugin from './$decker-support-dir$/plugins/decker/decker.js';
  import uiAnchorsPlugin from './$decker-support-dir$/plugins/decker/ui-anchors.js';
  import mathPlugin from './$decker-support-dir$/plugins/math/math.js';
  import whiteboardPlugin from './$decker-support-dir$/plugins/whiteboard/whiteboard.js';
  import searchPlugin from './$decker-support-dir$/plugins/search/search.js';
$if(decker-plugins.zoom)$
  import zoomPlugin from './$decker-support-dir$/plugins/zoom/zoom.js';
$endif$
  import printPlugin from './$decker-support-dir$/plugins/print/print.js';
$if(decker-plugins.jingles)$
  import jinglesPlugin from './$decker-support-dir$/plugins/jingles/jingles.js';
$endif$
$if(decker-plugins.quiz)$
  import quizPlugin from './$decker-support-dir$/plugins/quiz/quiz.js';
$endif$
$if(poll)$
  import pollPlugin from './$decker-support-dir$/plugins/poll/poll.js';
$endif$
$if(decker-plugins.quiz-wue)$
  import quizWuePlugin from './$decker-support-dir$/plugins/quiz-wue/quiz-wue.js';
$endif$
  import explainPlugin from './$decker-support-dir$/plugins/explain/explain.js';
  import examinerPlugin from "./$decker-support-dir$/plugins/examiner/examiner.js";
  import chartsPlugin from './$decker-support-dir$/plugins/charts/charts.js';
  import menuPlugin from './$decker-support-dir$/plugins/menu/menu.js';
$if(decker-plugins.feedback)$
  import feedbackPlugin from './$decker-support-dir$/plugins/feedback/feedback.js';
$endif$
$if(highlightjs)$
  import highlightPlugin from './$decker-support-dir$/vendor/reveal/plugin/highlight/highlight.esm.js';
$endif$
$if(decker-plugins.notes)$
  import notesPlugin from './$decker-support-dir$/vendor/reveal/plugin/notes/notes.esm.js';
$endif$
$if(live-captions)$
  import captionPlugin from './$decker-support-dir$/plugins/live-captioning/live-captioning.js';
$endif$
  $for(reveal-plugins)$
    import $it.name$ from './$it.url$';
  $endfor$
  import a11yPlugin from './$decker-support-dir$/plugins/a11y/a11y.js';
  import handoutPlugin from './$decker-support-dir$/plugins/handout/handout.js';
$if(decker-plugins.chatty)$
  import chattyPlugin from './$decker-support-dir$/plugins/chatty/chatty.js';
$endif$
$if(decker-plugins.quizzer)$
  import quizzerPlugin from './$decker-support-dir$/plugins/quizzer/quizzer.js';
$endif$

  let revealConfig = { 
    // reveal configuration (see https://revealjs.com/config/)
    ...Decker.meta.reveal,

    // plugin configuration
    math: { mathjax: String.raw`$decker-support-dir$/vendor/mathjax/`, ...Decker.meta.math },
    chart: Decker.meta.chart,
    menu: Decker.meta.menu,
    explain: Decker.meta.explain,
$if(decker-plugins.feedback)$
    feedback: Decker.meta.feedback || Decker.meta["decker-engine"],
$endif$
$if(decker-plugins.jingles)$
    jingles: Decker.meta.jingles,
$endif$
    whiteboard: Decker.meta.whiteboard,
    $for(reveal-plugins)$
      $it.name$: Decker.meta.$it.name$,
    $endfor$
    
    // list of plugins
    plugins: [
       deckerPlugin,
       uiAnchorsPlugin,
       mathPlugin,
       chartsPlugin,
       whiteboardPlugin,
       searchPlugin,
$if(decker-plugins.zoom)$
       zoomPlugin,
$endif$
       printPlugin,
$if(decker-plugins.jingles)$
       jinglesPlugin,
$endif$
$if(decker-plugins.quiz-wue)$
       quizWuePlugin,
$endif$
       explainPlugin,
       examinerPlugin,
       menuPlugin,
$if(decker-plugins.feedback)$
       feedbackPlugin,
$endif$
$if(highlightjs)$
       highlightPlugin,
$endif$
$if(decker-plugins.notes)$
       notesPlugin,
$endif$
$if(live-captions)$
       captionPlugin,
$endif$
$if(decker-plugins.chatty)$
       chattyPlugin,
$endif$
       a11yPlugin,
       handoutPlugin,
$if(poll)$
       pollPlugin,
$endif$
  $for(reveal-plugins)$
    $it.name$,
  $endfor$
$if(decker-plugins.quizzer)$
       quizzerPlugin,
$endif$
    ]
  };
  
  Reveal.initialize(revealConfig);
  window.Reveal = Reveal;
</script>
