*-deck.html
*-handout.html
*-page.html
*.aux
*.fdb_latexmk
*.fls
*.log
*.prof
*.swp
*.synctex.gz
*.zip
.DS_Store
.shake/
.stack-work-profile/
.stack-work/
.vscode/
.rendered-code/
TAGS
TODO.md
decker.cabal
./dist/
node_modules
public/
private/
stack.yaml.lock
test/decks/*.svg
index.md.generated
