.DS_Store
*.prof
.decker
.stack-work/
.stack-work-profile/
stack.yaml.lock
.shake/
TAGS
public/
*-deck.html
*-handout.html
*-page.html
.vscode/
*.swp
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.zip
resource/support/vendor/**
test/decks/*.svg
dist/
node_modules
TODO.md
