[submodule "third-party/bootstrap"]
	path = third-party/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "third-party/reveal.js"]
	path = third-party/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "third-party/jquery"]
	path = third-party/jquery
	url = https://github.com/jquery/jquery.git
[submodule "third-party/MathJax"]
	path = third-party/MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "third-party/Font-Awesome"]
	path = third-party/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "third-party/piklor.js"]
	path = third-party/piklor.js
	url = https://github.com/jillix/piklor.js.git
[submodule "third-party/thebelab"]
	path = third-party/thebelab
	url = https://github.com/minrk/thebelab.git
