*-deck.html
*-handout.html
*-page.html
*.aux
*.fdb_latexmk
*.fls
*.log
*.prof
*.swp
*.synctex.gz
*.zip
.DS_Store
.decker
.shake/
.stack-work-profile/
.stack-work/
.vscode/
TAGS
TODO.md
decker.cabal
dist/
node_modules
public/
private/
resource/decker/support/vendor/
stack.yaml.lock
test/decks/*.svg
index.md.generated
resource/wburg/support/css/decker.css
resource/wburg/support/css/page.css