/* The main CSS for decks. This includes structure.css which contains CSS that
is important for slide and embedded media structure.

Margins, colors, fonts and stuff should be defined here. */

@import url("../vendor/fontawesome/css/all.css");

@import url("./structure.css");
@import url("./style.css");
@import url("./media.css");

/* Box sizing is much nicer for calculations. */
body.deck {
  box-sizing: border-box;
  font-size: 38px;
}

/* Title slide (simple) */

section#title-slide {
  text-align: center;
  font-weight: bold;
}

section#title-slide :is(h1, h2) {
  padding: 0;
}

section#title-slide :is(h2) {
  color: var(--shade6);
  padding: 0;
  margin-bottom: 1em;
}

section#title-slide p:is(.author) {
  color: var(--shade5);
}

section#title-slide p:is(.institute) {
  color: var(--shade5);
}

section#title-slide p:is(.date) {
  color: var(--shade4);
}

/* Margins and spacing */

/* Override whatever reveal sets here. */
.reveal-viewport {
  line-height: 1.2;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

/* Blocks can popup somewhere on the slide. */
div.block[popup] {
  /* Positioned relative the div.alignment element. */
  position: absolute;
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.4);
  z-index: 3000;
}

/* A centered block. This is very clever. */
div.block[popup="center"] {
  /* Percentages here are relative to the enclosing `position: relative`
  element. */
  top: 50%;
  left: 50%;
  /* Percentages here are relative to the transformed element. */
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center;
}

/* A centered box that is also tilted up. */
div.block[popup="center-up"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-23deg) scale(1);
}

/* A centered box that is also tilted down. */
div.block[popup="center-down"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(23deg) scale(1);
}

/* control arrows */
.reveal .controls {
  font-size: calc(var(--icon-size) * 0.4);
  bottom: calc(var(--icon-size) * 0.2);
  right: calc(var(--icon-size) * 0.4);
}
.reveal:not(.has-vertical-slides) .controls .navigate-left {
  right: 6.4em; /* keep this the same as for has-vertical-slides */
}
.reveal:not(.has-vertical-slides) .controls .navigate-right {
  right: 0; /* keep this the same as for has-vertical-slides */
}
.reveal .controls-arrow {
  color: var(--icon-inactive-color);
}
.reveal .controls-arrow:hover {
  color: var(--icon-hover-color);
}

/* slide number centered withing control arrows */
.reveal .slide-number {
  font-size: calc(var(--icon-size) * 0.8);
  pointer-events: none;
  position: fixed;
  padding: 0px;
  top: auto;
  left: auto;
  bottom: 1.75em;
  right: -0em;
  width: 3em;
  text-align: center;
  font-family: sans-serif;
  color: var(--foreground-color);
  background: none;
  transform: translate(-50%, -50%);
}
.reveal:not(.has-vertical-slides) .slide-number {
  bottom: 0.8em;
}
.reveal .slide-number > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reveal .slide-number-delimiter {
  margin: 0px 1px;
  padding: 0;
}
.reveal .slide-number a,
.reveal .slide-number a:hover {
  text-decoration: none;
}

div.decker-flash-panel {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

div.decker-flash-panel:not(.flashing) {
  display: none;
}

div.decker-flash-panel div.content {
  font-size: 2rem;
  background-color: var(--shade1);
  color: var(--shade6);
  border: solid 0.1em var(--primary-color);
  border-radius: var(--block-border-radius);
  padding: 0.25em 0.5em;
}

div#continue-dialog {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  position: fixed;
  left: 50%;
  bottom: 1em;
  transform: translate(-50%, 0px);
  padding: 1em;
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  border-radius: 0.5em;
  font-size: 1rem;
  z-index: 50;
}

.reveal-viewport:not(.presenter-mode) .presenter-only {
  display: none !important;
}
