/* Here be CSS */

@import url("../vendor/fontawesome/css/all.css");

/* nice colors */
:root {
  --primary-color: #2a9ddf;
  --secondary-color: orange;
  --hover-color: #30B3FF;
}

/* icon settings */
:root {
  --icon-active-color: var(--primary-color);
  --icon-inactive-color: lightgrey;
  --icon-size: 2vmin;
}

/* These are just for internal calculations */
:root {
  --list-indent: 1.5em;
  --block-border-width: 0.05em;
  --block-outset: 0.3em;

  --c0: #ffffff;
  --c1: #e7e7e7;
  --c2: #eeeeee;
  --c3: #d7d7d7;
  --c4: #dddddd;
  --c5: #c7c7c7;
  --c6: #cccccc;
}

/* Reset Reveal CSS to sane values */
.reveal .slides {
  text-align: left;
}

/* Text */
body {
  font-family: sans-serif;
  font-size: 38px;
  box-sizing: border-box;

  background-color: var(--c0);
}

section {
  background-color: var(--c1);
}

div.alignment {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

code {
  font-size: 100%;
  font-family: monospace;
}

pre {
  overflow: scroll;
  max-height: 500px;
}

span.pre {
  display: block;
  font-family: monospace;
  overflow: scroll;
  max-height: 500px;
  white-space: pre;
  unicode-bidi: embed;
  background-color: var(--c0);
}

span.pre > code,
pre > code {
  font-size: 80%;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 0.3em;

  background-color: var(--c6);
}

h2 {
  font-size: 1.2em;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: 0.3em;

  background-color: var(--c6);
}

p {
  margin-top: 0;
  margin-bottom: 0.3em;
}

li {
  margin-top: 0;
  margin-bottom: 0.2em;
}

ul {
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: var(--list-indent);
  list-style: outside disc;
}

ol {
  margin-top: 0;
  margin-bottom: 0.3em;
  margin-left: var(--list-indent);
  list-style: outside disc;
}

/* Layout */

/* Old-style row layout (.columns, .grid) */

div.layout.row {
  display: flex;
  flex-flow: row nowrap;

  background-color: var(--c4);
}

div.layout.row > div.area {
  flex: 1 1 0;

  background-color: var(--c5);
}

div.layout.row > div.area[grow="2"] {
  flex: 2 2 0;
}

div.layout.row > div.area[grow="3"] {
  flex: 3 3 0;
}

div.layout.row > div.area[grow="4"] {
  flex: 4 4 0;
}

div.layout.row > div.area[grow="5"] {
  flex: 5 5 0;
}

/* Column spacing in a row */

div.layout.row > div.area:first-child {
  margin-right: 0.5em;
}

div.layout.row > div.area:last-child {
  margin-left: 0.5em;
}

div.layout.row > div.area:only-child {
  margin-left: 0;
  margin-right: 0;
}

/* Blocks */

/* Blocks are positioned relative such that borders can be pushed out for
highlighting.  */
div.block {
  position: relative;
}

/* Some vaguely semantic highlighting options. */
div.block.primary,
div.block.secondary,
div.block.success,
div.block.danger,
div.block.warning,
div.block.info {
  left: calc(-1 * var(--block-outset));
  top: calc(-1 * var(--block-outset));
  border: var(--block-border-width) solid;
  padding: calc(var(--block-outset) - var(--block-border-width));
  margin-right: calc(-2 * var(--block-outset));
  margin-bottom: calc(-2 * var(--block-outset));
}

/* Highlight colors */
div.block.primary {
  background-color: #ddf;
  border-color: #bbf;
}
div.block.secondary {
  background-color: #eee;
  border-color: #bbb;
}
div.block.success {
  background-color: #dfd;
  border-color: #bfb;
}
div.block.danger {
  background-color: #fdd;
  border-color: #fbb;
}
div.block.warning {
  background-color: #fed;
  border-color: #fdb;
}
div.block.info {
  background-color: #dff;
  border-color: #bff;
}

/* Figures */

div.media {
  display: flex;
  justify-content: center;

  background-color: #eee;
}

div.media.align-left {
  justify-content: flex-start;
}

div.media.align-right {
  justify-content: flex-end;
}

/* Figures can not be used in inline context, using spans instead. */
span.figure,
figure {
  width: 100%;
}

/* Figcaptions can not be used in inline context, using spans instead. */
span.figcaption,
figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;

  background-color: var(--c4);
}

/* Inline media blocks are rendered as spans. */
span.media {
  display: inline-block;
}

/* Figure spans behave like a block. */
span.figure {
  display: block;
}

/* Figcaption spans behave like a block. */
span.figcaption {
  display: block;
}

/* Get rid of the annoying bottom gap. */
img,
iframe,
video,
object,
canvas,
svg,
pre {
  vertical-align: bottom;
}

/* Default size for elements without intrinsic aspect ratio. */
span.figure > span.pre,
span.figure > object,
span.figure > iframe {
  width: 200px;
  height: 100px;
}

figure > object,
figure > iframe {
  width: 100%;
  height: 400px;
}

/* Default width. */
figure > img,
figure > video {
  width: 100%;
}

/* Default width for embedded SVG. */
.svg.embedded svg {
  width: 100%;
  height: auto;
}

/* Makes iframes react fluidly to width changes. */
.fluid-iframe {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  height: 0;
}

.fluid-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* menu icon in top left corner */
.reveal .slide-menu-button {
    position:   fixed;
    left:       calc(var(--whiteboard-icon-size) * 0.25);
    top:        calc(var(--whiteboard-icon-size) * 0.25);
    bottom:     auto;
    right:      auto;
    padding:    calc(var(--whiteboard-icon-size) * 0.5);
    margin:     auto;
    z-index:    40;
    background: none;
    font-size:  var(--whiteboard-icon-size);
    opacity:    0.5;
    color:      var(--whiteboard-inactive-color);
}
.reveal .slide-menu-button:hover {
    opacity: 1.0;
    color: var(--whiteboard-active-color);
}
.reveal .slide-menu-button a {
    color: inherit;
}

/* slide number and control arrows */
.reveal .controls {
  font-size: 1.2vmin;
  bottom:    0;
  right:     1.2vmin;
}
.reveal .slide-number {
  position:    fixed;
  padding:     7px;
  font-size:   2vmin;
  width:       3vmin;
  bottom:      2vmin;
  right:       4.6vmin;
  text-align:  center;
  color:       black;
  background:  #ffffff00;
}
.reveal .controls-arrow {
  color: var(--icon-inactive-color);
}
.reveal .controls-arrow:hover {
  color: var(--icon-active-color);
}
.reveal .slide-number a,
.reveal .slide-number a:hover {
  color:       black;
}

/* links */
.reveal a {
  color: var(--primary-color);
  text-decoration: none;
}
.reveal a:hover {
  color: var(--hover-color);
  text-shadow: none;
  border: none; 
}