/* Here be CSS */

@import url("../vendor/fontawesome/css/all.css");
@import url("./structure.css");
@import url("./style.css");

body {
  font-family: sans-serif;
  font-size: 16px;
  max-width: 52em;
}

code {
  font-family: monospace;
  font-size: 100%;
}

pre > code {
  font-size: 90%;
}

figure {
  margin: 0;
}

p {
  word-wrap: normal;
}
