/* Here be CSS */

@import url("../vendor/fontawesome/css/all.css");
@import url("./structure.css");
@import url("./style.css");
@import url("./media.css");

html {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

body.index {
  box-sizing: border-box;
  font-size: 16px;
  max-width: 52em;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

code {
  font-size: 100%;
}

pre > code {
  font-size: 90%;
}

figure {
  margin: 0;
}

p {
  word-wrap: normal;
}

progress {
  accent-color: initial;
  width: 3em;
}

body.index table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

body.index div.search table.search {
  display: none;
}

body.index div.search table.search {
  text-align: left;
}

body.index div.search.results table.search {
  display: table;
}

.link-additions {
  display: inline-flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-left: 0.25rem;
}

a.handout-link {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 1em;
  height: 1em;
}

a.handout-link::before {
  display: block;
  position: absolute;
  content: "";
  top: 0;
  left: 5%;
  width: 0.8em;
  height: 0.45em;
  background-color: var(--accent5-fg);
  border-radius: 2px;
}

a.handout-link::after {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 5%;
  width: 0.8em;
  height: 0.45em;
  background-color: var(--accent5-fg);
  border-radius: 2px;
}

a.handout-link:hover::before,
a.handout-link:hover::after {
  background-color: var(--accent5);
}
