/* Here be CSS */

/* This is structurally important CSS that should not contain too many specifics
regarding colors, fonts, sizes and lengths. It is included from deck.css,
page.css and handout.css. */

/* These are just for internal calculations */
:root {
  --list-indent: 1.5em;
  --block-border-width: 0.2em;
  --block-outset: 0.5rem;
  --background-color: none;
}

/* Reset Reveal CSS to sane values */
.reveal .slides {
  text-align: left;
}

/* Text */
body {
  box-sizing: border-box;

  background-color: var(--background-color);
}

section {
  /* Colors just for debugging. Do not use in production CSS. */
  --c0: var(--background-color);
  --c1: var(--background-color);
  --c2: var(--background-color);
  --c3: var(--background-color);
  --c4: var(--background-color);
  --c5: var(--background-color);
  --c6: var(--background-color);
  --border: var(--block-border-width) solid rgba(0, 0, 0, 0);
}

div.alignment {
  /* Allow slide relative positioning of non-immediate children. */
  display: relative;
}

section.debug {
  /* Colors just for debugging. Do not use in production CSS. */
  --c0: #ffffff;
  --c1: #e7e7e7;
  --c2: #eeeeee;
  --c3: #d7d7d7;
  --c4: #dddddd;
  --c5: #c7c7c7;
  --c6: #cccccc;
  --border: var(--block-border-width) solid var(--c6);

  background-color: var(--c1);
}

pre {
  max-height: 500px;
}

/* Make this behave like a normal pre element. */
span.pre {
  display: block;
  max-height: 500px;
  white-space: pre;
  unicode-bidi: embed;
  overflow: scroll;
  background-color: var(--c0);
}

h1 {
  background-color: var(--c6);
}

h2 {
  background-color: var(--c6);
}

h1:empty,
h2:empty {
  display: none;
}

/* Layout */

/* Old-style row layout (.columns, .grid) */

div.layout.row.columns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  background-color: var(--c4);
}

div.layout.row.columns > div.area {
  flex: 1;
  min-width: 0;
  background-color: var(--c5);
}

div.layout.row.columns > div.area[grow="2"] {
  flex: 2;
}

div.layout.row.columns > div.area[grow="3"] {
  flex: 3;
}

div.layout.row.columns > div.area[grow="4"] {
  flex: 4;
}

div.layout.row.columns > div.area[grow="5"] {
  flex: 5;
}

/* Column spacing in a row */

div.layout.row.columns > div.area {
  margin-left: 1rem;
  margin-right: 1rem;
}

div.layout.row.columns > div.area:first-child {
  margin-left: 0;
}

div.layout.row.columns > div.area:last-child {
  margin-right: 0;
}

/* Blocks */

div.block {
  padding: var(--block-outset);
}

div.block[popup] {
  /* Positioned relative the div.alignment element. */
  position: absolute;
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
}

div.block[popup="center"] {
  /* Percentages in here are relative to the enclosing `position: relative`
  element. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

div.block[popup="center-up"] {
  transform: translate(-50%, -50%) rotate(-23deg) scale(1.5);
}

div.block[popup="center-down"] {
  transform: translate(-50%, -50%) rotate(23deg) scale(1.5);
}

h1 {
  padding: 0 var(--block-outset);
}

/* Figures */

div.media {
  display: flex;
  justify-content: center;

  background-color: var(--c3);
}

div.media.align-left {
  justify-content: flex-start;
}

div.media.align-right {
  justify-content: flex-end;
}

/* Figures can not be used in inline context, using spans instead. */
span.figure,
figure {
  width: 100%;
}

/* Figcaptions can not be used in inline context, using spans instead. */
span.figcaption,
figcaption {
  font-size: 80%;
  font-style: italic;
  text-align: center;

  background-color: var(--c4);
}

/* Inline media blocks are rendered as spans. */
span.media {
  display: inline-block;
}

/* Figure spans behave like a block. */
span.figure {
  display: block;
}

/* Figcaption spans behave like a block. */
span.figcaption {
  display: block;
}

/* Get rid of the annoying bottom gap. */
img,
iframe,
video,
object,
canvas,
svg,
pre {
  vertical-align: bottom;
}

/* Default size for elements without intrinsic aspect ratio. */
span.figure > span.pre,
span.figure > object,
span.figure > iframe {
  width: 200px;
  height: 100px;
}

figure > object,
figure > iframe {
  width: 100%;
  height: 400px;
}

/* Default width. */
figure > pre,
figure > img,
figure > video,
figure > div.sourceCode {
  width: 100%;
  margin: 0;
}

/* Default width for embedded SVG. */
.svg.embedded svg {
  width: 100%;
  height: auto;
}

/* Makes iframes react fluidly to width changes. */
.fluid-iframe {
  position: relative;
  padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
  height: 0;
}

.fluid-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
