/* Style CSS for slides that is also used in pages and handouts. */
:root {
  --block-border-radius: 0.2em;
}

/* Text */
body {
  font-family: sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

/* Inline code */
code {
  font-family: monospace;
}

/* Code blocks. */
span.pre > code,
pre > code {
  font-size: 90%;
  line-height: 1.2;
}

span.pre.small > code,
pre.small > code {
  font-size: 90%;
}

strong {
  font-weight: bold;
}

em {
  font-style: oblique;
}

pre {
  line-height: 1;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

h2,
summary {
  font-size: 1.2em;
  font-weight: bold;

  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

summary {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

li {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

ul {
  margin-top: 0;
  margin-left: var(--list-indent);
  list-style: outside disc;
  margin-bottom: var(--vertical-margin);
}

ol {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
  margin-left: var(--list-indent);
  list-style: outside disc;
}

/* No bottom margin for last elements in a stack. */
:last-child {
  margin-bottom: 0;
}

div.media {
  margin-bottom: var(--vertical-margin);
}

/* Add a top margin to nested lists. */
li > :is(ul, ol) {
  margin-top: var(--vertical-margin);
}

/* Move a little closer to the image. */
figcaption {
  padding-top: calc(0.5 * var(--vertical-margin));
}

/* Links */
a,
a:visited,
a:active {
  color: var(--accent5-fg);
  text-decoration: none;
}
a:hover {
  color: var(--accent5);
  text-decoration: none;
}

/* Tables */
table {
  font-size: 0.9em;
  margin-bottom: var(--vertical-margin);
  border-collapse: collapse;
  overflow-x: auto;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: var(--vertical-margin);
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
th {
  border-top: 1px solid black;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-weight: bolder;
}
td {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

div.block {
  display: flow-root; /* Prevents margin collapse. Allows negative margin here. */
  margin-bottom: calc(1 * var(--vertical-margin));
  border-radius: var(--block-border-radius);
}

/* Stretch the block header margin to the block border so that highlighting
works. */
div.block h2 {
  padding: var(--block-outset);
  margin-top: calc(-1 * var(--block-outset));
  margin-left: calc(-1 * var(--block-outset));
  margin-right: calc(-1 * var(--block-outset));
  border-top-left-radius: var(--block-border-radius);
  border-top-right-radius: var(--block-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* Highlight colors and borders. We need three colors for each highlight state:
text, background and border. */
div.block.accent0 {
  background-color: var(--accent0-bbg);
}

div.block.accent1 {
  background-color: var(--accent1-bbg);
}

div.block.accent2 {
  background-color: var(--accent2-bbg);
}

div.block.accent3 {
  background-color: var(--accent3-bbg);
}

div.block.accent4 {
  background-color: var(--accent4-bbg);
}

div.block.accent5 {
  background-color: var(--accent5-bbg);
}

div.block.accent6 {
  background-color: var(--accent6-bbg);
}

div.block.accent7 {
  background-color: var(--accent7-bbg);
}

/* A slide with centered text can look good at times. */
div.block[align="center"] {
  text-align: center;
}
div.block[align="left"] {
  text-align: left;
}
div.block[align="right"] {
  text-align: right;
}

/* A block with centered text can look good at times. */
section[align="center"] {
  text-align: center;
}
section[align="left"] {
  text-align: left;
}
section[align="right"] {
  text-align: right;
}

[align="center"] table {
  margin-left: auto;
  margin-right: auto;
}

/* Source Code */

/* Pandoc wraps div.sourceCode around the pre > code element. Highlightjs does
not.*/

pre,
span.pre {
  background-color: var(--code-background-color);
  border-radius: var(--block-border-radius);
}

div.sourceCode > pre {
  padding: 0 var(--block-outset);
}

/* Inverse colors */
section.slide:is(.inverse, .black) {
  background-color: var(--foreground-color);
  color: var(--background-color);
}

/* Scroll bars */
/* .reveal ::-webkit-scrollbar {
  width: 9px;
}
.reveal ::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
}
.reveal ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}
.reveal ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
} */
