/* Style CSS for slides that is also used in pages and handouts. */

:root {
  --block-border-radius: 0.2em;
}

/* Inline code */
code {
  line-height: 1;
  font-size: 110%;
  font-family: monospace;
}

/* Code blocks. */
span.pre > code,
pre > code {
  font-size: 100%;
  font-family: monospace;
}

span.pre.small > code,
pre.small > code {
  font-size: 90%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

pre {
  line-height: 1;
}

h1 {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--base06);

  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

h2, summary {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--base06);

  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

summary {
  cursor: pointer;
}

p {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

li {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
}

ul {
  margin-top: 0;
  margin-left: var(--list-indent);
  list-style: outside disc;
  margin-bottom: var(--vertical-margin);
}

ol {
  margin-top: 0;
  margin-bottom: var(--vertical-margin);
  margin-left: var(--list-indent);
  list-style: outside disc;
}

/* No bottom margin for last elements in a stack. */
:last-child {
  margin-bottom: 0;
}

div.media {
  margin-bottom: var(--vertical-margin);
}

/* Add a top margin to nested lists. */
li > :is(ul, ol) {
  margin-top: var(--vertical-margin);
}

/* Move a little closer to the image. */
figcaption {
  padding-top: calc(0.5 * var(--vertical-margin));
}

/* Links */
a,
a:visited,
a:active {
  color: var(--base0D);
  text-decoration: underline;
}
a:hover {
  color: var(--base09);
  text-decoration: none;
}

/* Tables */
table {
  font-size: 0.9em;
  margin-bottom: var(--vertical-margin);
  border-collapse: collapse;
  overflow-x: auto;
  font-variant-numeric: lining-nums tabular-nums;
}
table caption {
  margin-bottom: var(--vertical-margin);
}
tbody {
  margin-top: 0.5em;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
th {
  border-top: 1px solid black;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-weight: bolder;
}
td {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

/* TODO Two highlighted blocks currently touch. Play with spacing here. */
div.block {
  display: flow-root; /* Prevents margin collapse. Allows negative margin here. */
  margin-bottom: calc(1 * var(--vertical-margin));
  border-radius: var(--block-border-radius);
}

/* Stretch the block header margin to the block border so that highlighting
works. */
div.block h2 {
  padding: var(--block-outset);
  margin-top: calc(-1 * var(--block-outset));
  margin-left: calc(-1 * var(--block-outset));
  margin-right: calc(-1 * var(--block-outset));
  border-top-left-radius: var(--block-border-radius);
  border-top-right-radius: var(--block-border-radius);
}

:not(:is(code, pre) span) {
  border-radius: calc(var(--block-border-radius) / 1);
  padding-left: 0.15em;
  padding-right: 0.15em;
}

/* Highlight colors and borders. We need three colors for each highlight state:
text, background and border. */
div.block.primary {
  background-color: var(--base0D-bbg);
  border: var(--block-border-width) solid var(--base0D);
}
div.block.primary h2 {
  color: var(--base01);
  background-color: var(--base0D);
}
span.primary {
  color: var(--base0D);
}

div.block.secondary {
  background-color: var(--base02);
  border: var(--block-border-width) solid var(--base03);
}
div.block.secondary h2 {
  color: var(--base01);
  background-color: var(--base03);
}
span.secondary {
  color: var(--base03);
}

div.block.success {
  background-color: var(--base0B-bbg);
  border: var(--block-border-width) solid var(--base0B);
}
div.block.success h2 {
  color: var(--base01);
  background-color: var(--base0B);
}
span.success {
  color: var(--base0B);
}

div.block.danger {
  background-color: var(--base08-bbg);
  border: var(--block-border-width) solid var(--base08);
}
div.block.danger h2 {
  color: var(--base01);
  background-color: var(--base08);
}
span.danger {
  color: var(--base08);
}

div.block.warning {
  background-color: var(--base09-bbg);
  border: var(--block-border-width) solid var(--base09);
}
div.block.warning h2 {
  color: var(--base01);
  background-color: var(--base09);
}
span.warning {
  color: var(--base09);
}

div.block.info {
  background-color: var(--base0E-bbg);
  border: var(--block-border-width) solid var(--base0E);
}
div.block.info h2 {
  color: var(--base01);
  background-color: var(--base0E);
}
span.info {
  color: var(--base0E);
}

/* A slide with centered text can look good at times. */
div.block[align="center"] {
  text-align: center;
}
div.block[align="left"] {
  text-align: left;
}
div.block[align="right"] {
  text-align: right;
}

/* A block with centered text can look good at times. */
section[align="center"] {
  text-align: center;
}
section[align="left"] {
  text-align: left;
}
section[align="right"] {
  text-align: right;
}

[align="center"] table {
  margin-left: auto;
  margin-right: auto;
}

/* Source Code */

/* Pandoc wraps div.sourceCode around the pre > code element. Highlightjs does
not.*/

pre,
span.pre {
  background-color: var(--code-background-color);
  border-radius: var(--block-border-radius);
}

div.sourceCode > pre {
  padding: 0 var(--block-outset);
}

/* Inverse colors */
section.slide:is(.inverse, .black) {
  background-color: var(--foreground-color);
  color: var(--background-color);
}
