:root {
  /* Icon settings */
  --icon-size: 1rem;

  /* Try this for block elements that stack vertically:

      - Only ever add a bottom margin
      - The bottom margin is always the same
      - Do not add a bottom margin to the last child
  */
  --vertical-margin: 0.1em;

  /* These are just for internal calculations */
  --list-indent: 1.5em;
  --block-border-width: 0em;
  --block-outset: 0.5rem;

  /* Semantic color defaults from the palette. There is no need to use the
     current palette. Colors can be set arbitrarily. */
  --background-color: var(--base00);
  --foreground-color: var(--base07);
  --header-color: var(--base06);
  --primary-color: var(--base0D);
  --secondary-color: var(--base09);
  --icon-active-color: var(--base0D);
  --icon-inactive-color: var(--base03);
  --hover-color: var(--base0D-bg);
  --code-background-color: var(--base01);
}
