body {
    color: #61443e;
    font-family:Monospace;
    font-size:13px;
    text-align:center;

    /* background-color: #bfd1e5; */
    background-color: #ffffff;
    margin: 0px;
    overflow: hidden;
}

a {	color: #a06851;	}

#info {
    position: absolute;
    top: 0px; width: 100%;
    padding: 5px;
}

#oldie {
    background:rgb(100,0,0) !important;
    color:#fff !important;
    margin-top:10em !important;
}
#oldie a { color:#fff }
