.course-header  {
    padding: 0 20px;
    margin: 30px 0px 15px;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    border-left: 15px solid #004a8f;
}

.course-header h2 {
    color: #004a8f;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}
.course-description {
    margin-bottom: 1em;
}

.course-info {
    margin-bottom: 0.8em;
}

.contact h3, 
.course-info h3 {
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
    text-decoration: none;
    margin-right: 3rem;
    margin-bottom: 0;
    color: #004a8f;
}
.contacts {
    margin-left: 1rem;
    margin-right: 1rem;
}
.contact {
    display: flex;
}
.contact span {
    margin-top: 0.5em;
}
.contact-reason {
    margin-bottom: 1em;
}
