:focus-visible {
  outline: 3px solid var(--flying-focus-color);
}

#flying-focus {
  position: absolute;
  margin: 0;
  padding: 0;
  background: transparent;
  transition-property: left, top, width, height, padding, border-radius;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  visibility: hidden;
  pointer-events: none;
  outline: 3px solid var(--flying-focus-color);
}

#flying-focus.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}
