<div class="media">
  <figure class="live-code">
    <div class="live-code">
      <pre
        class="live-code language-$language/lowercase$ $classes$"
	  style="$if(width)$max-width&colon;$width$&semi;$endif$$if(height)$max-height&colon;$height$&semi;$endif$"
      ><code id="$rnd-id$" class="live-code language-$language/lowercase$">$codeEsc$</code></pre>
      <div class="label">$if(sandbox)$$sandbox$-$endif$$language$</div>
    </div>
    <codapi-snippet
      id="$id$"
	  sandbox="$if(sandbox)$$sandbox$$else$$if(meta.codapi.sandbox)$$meta.codapi.sandbox$$else$$language$$endif$$endif$"
	  command="$if(command)$$command$$else$$if(meta.codapi.command)$$meta.codapi.command$$else$run$endif$$endif$"
      editor="external"
      selector="#$rnd-id$"
      class="$classes$"
      $attribs$
    >
    </codapi-snippet>
    <script type="module">
      // import dynamically because we need to construct the module selector. "./" is needed because
      // import selectors meant as file pathes cannot start just path component.
      let codejar = await import(
        "./" + Decker.meta.supportPath + "/vendor/codejar/codejar.js"
      );
      let hljs = await import(
        "./" + Decker.meta.supportPath + "/vendor/highlight/es/highlight.js"
      ).then((m) => m.default);
      let $language$ = await import(
        "./" +
          Decker.meta.supportPath +
          "/vendor/highlight/es/languages/$language/lowercase$.min.js"
      ).then((m) => m.default);

      hljs.configure({
        ignoreUnescapedHTML: true,
      });
      hljs.registerLanguage("$language/lowercase$", $language$);
      let highlight = (code) => {
        code.removeAttribute("data-highlighted");
        hljs.highlightElement(code);
      };

      let code = document.querySelector("#$rnd-id$");
      code.setAttribute("data-highlighted", "");

      // initial highlighting
      highlight(code);

      // start CodeJar on the code. Let it handle highlighting.
      codejar.CodeJar(code, highlight, {
        tab: " ".repeat(2),
        addClosing: false,
      });

      // CodeJar fiddles with the style attribute of out code element. Reset that.
      code.style.whiteSpace = "pre";
      code.style.overflowX = "scroll";
      code.style.overflowY = "scroll";
      code.style.tabSize = 2;
    </script>
    <figcaption>$caption$</figcaption>
  </figure>
</div>
