<section id="$idprefix$title-slide" class="title-page">
  $if(template.title-page.banner)$
  <div class="title-page banner">
    <img src="$template.title-page.banner$" />
  </div>
  $endif$
  <div class="valign-block">
    <div class="valigned">
      <h1 class="title">$title$</h1>
      $if(subtitle)$
      <div class="subtitle">$subtitle$</div>
      $endif$ $if(template.title-page.teaser-img)$
      <div class="teaser-img">
        <img src="$template.title-page.teaser-img$" />
      </div>
      $else$
      <div style="height: 100px"></div>
      $endif$ $if(date)$
      <div class="date">$date$</div>
      $endif$ $if(author)$
      <div class="author">$author$</div>
      $endif$ $if(template.title-page.affiliation-logo)$
      <div class="affiliation-logo">
        <img src="$template.title-page.affiliation-logo$" />
      </div>
      $endif$ $if(affiliation)$
      <div class="affiliation">$affiliation$</div>
      $endif$
    </div>
  </div>
</section>
