<section id="title-slide">
   <div class="decker">
     <div class="alignment">
       <header>
         $if(template.title-page.banner)$
            <div class="banner">
            <img src="$template.title-page.banner$" />
            </div>
         $endif$
      </header>

      $if(title)$
      <div class="title">$title$</div>
      $endif$
      $if(subtitle)$
      <div class="subtitle">$subtitle$</div>
      $endif$ 
      $if(template.title-page.teaser-img.file)$
      <div class="teaser-img" style="margin-top: $template.title-page.teaser-img.margin$; margin-bottom: $template.title-page.teaser-img.margin$;">
        <img src="$template.title-page.teaser-img.file$" height="$template.title-page.teaser-img.height$" />
      </div>
      $else$
      $endif$ 
      $if(date)$
      <div class="date">$date$</div>
      $endif$ 
      $if(author)$
      <div class="author">$author$</div>
      $endif$ 
      $if(template.title-page.affiliation-logo.file)$
      <div class="affiliation-logo">
        <img src="$template.title-page.affiliation-logo.file$" height="$template.title-page.affiliation-logo.height$"/>
      </div>
      $endif$ 
      $if(affiliation)$
      <div class="affiliation">$affiliation$</div>
      $endif$
    </div>
  </div>
</section>
