.multi-dialog-container {
  position: fixed;
  z-index: 1024;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 1.5rem;
  color: var(--foreground-color);
  border-radius: 0.25rem;
  border: 3px outset var(--color-info);
  border-radius: 0.25em;
  padding: 1em;
  background: var(--shade1);
  max-width: 50%;
  margin: 0;
}

.multi-dialog-container.error {
  border-color: var(--color-error);
}

.multi-dialog-container.warning {
  border-color: var(--color-warn);
}

.multi-dialog-container.alert {
  border-color: var(--color-alert);
}

.multi-dialog-container.information {
  border-color: var(--color-info);
}

.multi-dialog-container.success {
  border-color: var(--color-success);
}

.multi-dialog-container::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.multi-dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1rem;
}

.multi-dialog-button {
  padding: 0.5rem;
  border: none;
  color: var(--background-color);
  font-size: inherit;
  border-radius: 0.25em;
  border: 2px solid transparent;
  background: var(--primary-color);
  color: white;
}

.multi-dialog-button:hover {
  border: 2px solid var(--shade4);
}

.multi-dialog-fieldset {
  border: none;
}

.multi-dialog-fieldset legend {
  margin: auto;
}

@keyframes ping {
  0% {
    background: var(--accent5-bbg);
    outline-offset: 0.25rem;
  }
  10% {
    outline-offset: 0.5rem;
  }
  30% {
    outline-offset: 0.25rem;
  }
  100% {
    background: var(--accent5);
  }
}

.multi-dialog-button:focus {
  outline: 2px solid var(--focus-color) !important;
  outline-offset: 0.25rem;
  animation: ping 1s linear;
}
