:root {
  --bar-width: 0.5em;
  --bar-inset: -1em;
  --struct-padding: 1.3em;
  --struct-border-width: 1px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

section.slide {
  position: relative;
  padding: var(--struct-padding);
  background-color: #fee;
  border: var(--struct-border-width) solid red;
}

section.slide::before {
  content: "SECTION #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.alignment {
  position: relative;
  background-color: #eee;
  border: var(--struct-border-width) solid black;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.alignment::before {
  content: "DIV #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.decker {
  position: relative;
  background-color: #eef;
  border: var(--struct-border-width) solid blue;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.decker::before {
  content: "DIV #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.layout {
  position: relative;
  background-color: #efe;
  border: var(--struct-border-width) solid green;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.layout::before {
  content: "DIV #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.area {
  position: relative;
  background-color: #fee;
  border: var(--struct-border-width) solid red;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.area::before {
  content: "DIV #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.block {
  position: relative;
  background-color: #eef;
  border: var(--struct-border-width) solid blue;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.block::before {
  content: "DIV #" attr(id) " " attr(class);
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  font-size: 80%;
}

div.block#b2 {
  position: relative;
  left: var(--bar-inset);
  border-left: var(--bar-width) solid blue;
  padding-left: calc(
    var(--struct-border-width) + var(--struct-padding) - var(--bar-inset) -
      var(--bar-width)
  );
  margin-right: var(--bar-inset);
}

div.content {
  background-color: #eee;
  border: var(--struct-border-width) solid black;
  padding: var(--struct-padding);
  margin: 0 auto;
}

div.block#b4 {
  position: absolute;
  z-index: 1000;
  left: -12em;
  top: 10em;
  border: 0.3em dashed red;
  background-color: #eee;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  animation: spin 10s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div.columns div.layout {
  display: flex;
}

div.columns div.layout div.area#a1 {
  flex-grow: 1;
  min-width: 0;
}

div.columns div.layout div.area#a2 {
  flex-grow: 2;
  min-width: 0;
}

div.floating div.layout div.area#a1 {
  float: left;
  /* width: calc(60% - 2 * var(--struct-padding) - 2 * var(--struct-border-width)); */
  width: 60%;
}

div.floating div.layout div.area#a2 {
  display: inline-block;
  /* width: calc(40% - 2 * var(--struct-padding) - 2 * var(--struct-border-width)); */
  width: 40%;
}

div.grid div.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: stretch;
}

div.grid div.layout div.area#a1 {
  grid-column: 1;
  grid-row: 2;
  /* width: calc(100% - 2 * var(--struct-padding) - 2 * var(--struct-border-width)); */
  width: 100%;
}

div.grid div.layout div.area#a2 {
  grid-column: 2;
  grid-row: 1;
  /* width: calc(100% - 2 * var(--struct-padding) - 2 * var(--struct-border-width)); */
  width: 100%;
}
