<script type="module">
  // import Reveal and all plugins
  import Reveal from './$decker-support-dir$/vendor/reveal/dist/reveal.esm.js';
  import deckerPlugin from './$decker-support-dir$/plugins/decker/decker.js';
  import uiAnchorsPlugin from './$decker-support-dir$/plugins/decker/ui-anchors.js'
  import mathPlugin from './$decker-support-dir$/plugins/math/math.js';
  import whiteboardPlugin from './$decker-support-dir$/plugins/whiteboard/whiteboard.js';
  import sagePlugin from './$decker-support-dir$/plugins/sage/sage.js';
  import searchPlugin from './$decker-support-dir$/plugins/search/search.js';
  import zoomPlugin from './$decker-support-dir$/plugins/zoom/zoom.js';
  import printPlugin from './$decker-support-dir$/plugins/print/print.js';
  import jinglesPlugin from './$decker-support-dir$/plugins/jingles/jingles.js';
  import quizPlugin from './$decker-support-dir$/plugins/quiz/quiz.js';
  import quizWuePlugin from './$decker-support-dir$/plugins/quiz-wue/quiz-wue.js';
  import explainPlugin from './$decker-support-dir$/plugins/explain/explain.js';
  import chartsPlugin from './$decker-support-dir$/plugins/charts/charts.js';
  import menuPlugin from './$decker-support-dir$/plugins/menu/menu.js';
  import feedbackPlugin from './$decker-support-dir$/plugins/feedback/feedback.js';
  import notesPlugin from './$decker-support-dir$/vendor/reveal/plugin/notes/notes.esm.js';
  $if(live-captions)$
  import captionPlugin from './$decker-support-dir$/plugins/live-captioning/live-captioning.js';
  $endif$
  import a11yPlugin from './$decker-support-dir$/plugins/a11y/a11y.js';
  import handoutPlugin from './$decker-support-dir$/plugins/handout/handout.js';

  let revealConfig = { 
    // reveal configuration (see https://revealjs.com/config/)
    ...Decker.meta.reveal,

    // plugin configuration
    math: { mathjax: String.raw`$decker-support-dir$/vendor/mathjax/`, ...Decker.meta.math },
    chart: Decker.meta.chart,
    menu: Decker.meta.menu,
    explain: Decker.meta.explain,
    feedback: Decker.meta.feedback || Decker.meta["decker-engine"],
    jingles: Decker.meta.jingles,
    whiteboard: Decker.meta.whiteboard,

    // list of plugins
    plugins: [
      deckerPlugin,
      uiAnchorsPlugin,
      sagePlugin,
      mathPlugin,
      chartsPlugin,
      whiteboardPlugin,
      searchPlugin,
      zoomPlugin,
      printPlugin,
      jinglesPlugin,
      quizPlugin,
      quizWuePlugin,
      explainPlugin,
      menuPlugin,
      feedbackPlugin,
      notesPlugin,
      $if(live-captions)$
      captionPlugin,
      $endif$
      a11yPlugin,
      handoutPlugin
    ]
  };

  Reveal.initialize(revealConfig);
</script>