<section id="title-slide">
  <div class="decker">
    <div class="alignment">
      <header class="background-on-accent">
        <h1 class="title">$title$</h1>
        $if(subtitle)$
        <h2 class="subtitle">$subtitle$</h2>
        $endif$
      </header>

      $if(teaser)$
      <div class="teaser">
        $teaser:image-template.html()$
      </div>
      $endif$

      $if(authors)$
      <div class="authors">
        $for(authors)$
        $it:author-template.html()$
        $endfor$
      </div>
      $endif$
      
      $if(author)$
      $author:author-template.html()$
      $endif$

      $if(affiliation)$
      $affiliation:affiliation-template.html()$
      $endif$

      $if(date)$
        <div class="date">$date$</div>
      $endif$

      $if(copyright)$
      $copyright:copyright-template.html()$
      $endif$

      <div class="logos">
        $if(includeTULogo)$
        <div class="logo">
          <img src="./$decker-support-dir$/assets/tu-logo-light.svg" alt="Logo der TU Dortmund">
        </div>
        $endif$
        $if(logos)$
          $for(logos)$
          <div class="logo">
          $it:image-template.html()$
          </div>
          $endfor$
        $endif$
        </div>
      $if(showDeckerLink)$
      <a class="decker-link" href="https://github.com/decker-edu/decker/">🚀 by Decker</a>
      $endif$
    </div>
  </div>
</section>
