<details class="block details" summary="Anleitung für die HTML-Folien">
  <summary>
  Anleitung für die HTML-Folien
  </summary>
  <h2 id="navigation">Navigation</h2>
  <p>Die Oberfläche eines Foliensatzes erlaubt folgende Grundaktionen:</p>
  <ul>
    <li>Mit <strong>Cursor-links</strong> und <strong>Cursor-rechts</strong> können Sie durch die Folien blättern.</li>
    <li>Mit <strong>Cursor-runter</strong> und <strong>Cursor-hoch</strong> können Sie — falls vorhanden — Unterfolien zur aktuellen Folie aufsuchen.</li>
    <li>Die <span class="sr-only">Burger-Menu</span><i class="fas fa-bars" alt="Burger-Menu"></i> Schaltfläche (links oben) öffnet das Navigationsmenü.</li>
    <li>Die <span class="sr-only">Fragezeichen</span><span style="display: inline-grid; grid-template-areas: &quot;icons&quot;; justify-items: center; align-items: center;" alt="Fragezeichensprechblase"><i class="fas fa-message" style="grid-area: icons;"></i><i class="fas fa-question" style="grid-area: icons; color: var(--background-color); font-size: 75%;"></i></span> Schaltfläche (rechts oben) öffnet das Menu zum Stellen von Fragen zur aktuellen Folie.</li>
    <li>Die <span class="sr-only">Abspielen</span><i class="fas fa-play" alt="Abspielen"></i> Schaltfläche (rechts oben) startet — wenn vorhanden — die Präsentationsaufzeichnung bei der aktuellen Folie.</li>
    <li>Mit <strong>STRG-F</strong> oder <strong>CMD-F</strong> können Sie den den Suchdialog öffnen.</li>
    <li>Mit mit <strong>ESC</strong> können Sie aktive Menus und Dialoge schließen.</li>
  </ul>
  <h2 id="interaktion">Interaktion</h2>
  <p>Innerhalb der Folien gibt es verschiedene interaktive und graphische Elemente. Sie können folgendermaßen mit diesen interagieren:</p>
  <ul>
    <li>Sie können auf ein Element auf den Folien <strong>doppelklicken</strong>, um an dieses heranzuzoomen.</li>
    <li>Wenn zu einer Folie zusätzliche Whiteboardseiten existieren blinkt der untere Rand. Sie können den Folieninhalt in diesem Fall <strong>scrollen</strong>.</li>
    <li>Eingebettete Demos und Webseiten können Sie mit der <span class="sr-only">Expandieren</span> <i class="fas fa-expand-arrows-alt" alt="Expandieren"></i> Schaltfläche in den Vollbildmodus versetzen.</li>
  </ul>
  <h2 id="navigationsmenu">Navigationsmenu</h2>
  <p>Im Navigationsmenu können Sie folgende Aktionen ausführen:</p>
  <ul>
    <li>Zu einer beliebigen Folie springen.</li>
    <li>Den Suchdialog öffnen (Tastaturkürzel <strong>STRG+F</strong>).</li>
    <li>Die Folien in Druckansicht neu öffnen.</li>
    <li>Zwischen heller und dunkler Darstellung wechseln.</li>
    <li>Die Folienansicht in den Handout-Modus versetzen (Tastaturkürzel <strong>H-H-H</strong>).</li>
    <li>Den Präsentationsmodus für Vorträge umschalten (Tastaturkürzel <strong>P-P-P</strong>).</li>
    <li>Die Videoaufnahme starten (Tastaturkürzel <strong>R</strong>).</li>
    <li>Die Farbansicht kontrastreicher machen (Tastaturkürzel <strong>A-A-A</strong>).</li>
  </ul>
  <h2 id="feedback-menu">Feedback-Menu</h2>
  <p>Im Fragen- und Feedback-Menu können Sie Fragen und Anmerkungen zur aktuell geöffneten Folie stellen und einsehen:</p>
  <ul>
    <li>Sie können Fragen im Eingabefeld mit <strong>Umschalt + Eingabe</strong> oder der <span class="sr-only">Senden</span> <span class="fas fa-paper-plane" alt="Senden"></span>-Schaltfläche absenden.</li>
    <li>Sie können Fragen, die Sie beantwortet sehen wollen mit der <span class="sr-only">Daumen Hoch</span> <span class="fas fa-thumbs-up" alt="Daumen Hoch"></span>-Schaltfläche befürworten.</li>
    <li>Sie können Fragen, die Sie selbst gestellt haben mit der <span class="sr-only">Bearbeiten</span> <span class="fas fa-edit" alt="Bearbeiten"></span>-Schaltfläche bearbeiten.</li>
    <li>Sie können Fragen, die Sie selbst gestellt haben mit der <span class="sr-only">Mülltonnen</span> <span class="fas fa-trash" alt="Mülltonne"></span>-Schaltfläche löschen.</li>
  </ul>
  <h2 id="sonstige-tastaturkürzel">Sonstige Tastaturkürzel</h2>
  <p>Es gibt noch viele weitere Tastaturkürzel, die in den Folien zur Verfügung stehen:</p>
  <ul>
    <li>Mit <strong>F</strong> können Sie den Vollbild-Modus anschalten und mit <strong>ESC</strong> diesen wieder verlassen</li>
    <li>Mit <strong>?</strong> können Sie eine Übersicht aller Tastaturkürzel anzeigen lassen.</li>
  </ul>
  <h2 id="tastaturkürzel-im-vorlesungsvideo">Tastaturkürzel im Vorlesungsvideo</h2>
  <p>Ist das Vortragsvideo im Vordergrund können Sie folgende Tastaturkürzel verwenden:</p>
  <ul>
    <li><strong>ESC</strong>: Video schließen und zu den Folien zurückkehren.</li>
    <li><strong>Leertaste</strong>/<strong>K</strong>: Video pausieren.</li>
    <li><strong>J</strong>/<strong>L</strong>: Im Video um 10 Sekunden zurück bzw. vorwärts springen.</li>
    <li><strong>Cursor-links</strong>/<strong>Cursor-rechts</strong>: Im Video zur nächsten oder vorherigen Folie springen.</li>
    <li><strong>Cursor-hoch</strong>/<strong>Cursor-runter</strong>: Lautstärke um 5% erhöhen bzw. verringern.</li>
    <li><strong>M</strong>: Mute/unmute.</li>
  </ul>
  <p>Smartphone- und Tabletnutzer können zudem folgende Gesten verwenden:</p>
  <ul>
    <li><strong>Doppelt Tippen</strong> am linken oder rechten Rand: 10 Sekunden zurück bzw. vorwärts springen.</li>
    <li><strong>Doppelt Tippen</strong> in den Mitte: Video pausieren.</li>
  </ul>
  <h2 id="zusätzliche-navigationshinweise-für-seheingeschränkte-personen">Zusätzliche Navigationshinweise für seheingeschränkte Personen</h2>
  <p>Für Nutzer von Screen-Readern sind folgende Hinweise gegeben:</p>
  <ul>
    <li>Das Navigationsmenu ist das erste interaktive Element auf den Folien.</li>
    <li>Die Schaltflächen für vorherige und nächste Folie sind die letzten interaktiven Elemente auf den Folien.</li>
    <li>Die Seitennummer zwischen den Vor- und Zurückschaltflächen ist ein Link ohne weitere Funktion.</li>
    <li>Im Navigationsmenu sind die Schließenschaltfläche, die Aktionsschaltflächen und die Folienliste eigene TAB-Gruppen, innerhalb derer Sie mit den <strong>Cursor</strong>-Tasten navigieren können.</li>
    <li>Im Fragemenu ist die Frageliste eine eigene TAB-Gruppe neben den Eingabeelementen.
      <ul>
        <li>Sie können innerhalb der Frageliste mit den <strong>Cursor</strong>-Tasten navigieren.</li>
        <li>Sie können mit einer selektierten Frage mit der <strong>Eingabe</strong>-Taste interagieren.</li>
        <li>Sie können eine selektierte Frage mit der <strong>ESC</strong>-Taste wieder abwählen.</li>
      </ul>
    </li>
    <li>Im Suchdialog können Sie mit <strong>Eingabe</strong> durch die Folien navigieren, in denen der eingegebe Begriff gefunden wurde.</li>
    <li>Matheformeln werden mit MathJax dargestellt und können mit TAB selektiert werden:
      <ul>
        <li><strong>Leertaste</strong> öffnet ein Menu zum Einstellen der assistiven Darstellung der Formeln.</li>
        <li><strong>Eingabe</strong> öffnet einen Untersuchungsdialog, in dem Sie mit den <strong>Cursor</strong>-Tasten die Formel näher untersuchen können.</li>
      </ul>
    </li>
  </ul>
  <p>Grundsätzlich ist die Betrachtung der Folien im Handout-Modus zu empfehlen:</p>
  <ul>
    <li>Im Präsentationsmodus ist nur die aktuell sichtbare Folie von assistiver Technologie untersuchbar.</li>
    <li>Im Handout-Modus ist die gesamte Präsentation für assistive Technologie untersuchbar. Insbesondere können Sie die Überschriften der Folien als Sprungmarken verwenden.</li>
  </ul>
</details>