div.reveal div.slides section div.decker div.block.manipulatable {
  position: relative;
  transition: none;
}

div.block-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

div.block-overlay div.width-handle {
  position: absolute;
  right: 0;
  width: 2vw;
  height: 6vw;
  top: calc(50% - 3vw);
  border: 2px solid red;
  background-color: rgba(1, 0, 0, 0.2);
  z-index: 1001;
}
