/*
<codapi-snippet sandbox="python" editor="basic">
    <codapi-toolbar>
        <button>Run</button>
        <a href="#edit">Edit</a>
        <codapi-status> ✓ Done </codapi-status>
    </codapi-toolbar>
    <codapi-output>
        <pre><code>Hello, World!</code></pre>
    </codapi-output>
</codapi-snippet>
*/

codapi-output pre {
    font-family: monospace;
    line-break: after-white-space;
    white-space: pre-wrap;
    -webkit-nbsp-mode: space;
    line-height: 1.3;
    padding: 0.5em;
    resize: vertical;
    min-height: 2em;
}

::-webkit-resizer {
    border: 1px solid var(--accent5-fg);
    background: var(--shade2);
}

codapi-toolbar {
    color: var(--accent5);
}

codapi-toolbar button {
    padding: 0;
    border: none;
    background: none;
    line-height: 1.35;
    color: var(--color-blue);
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    overflow: hidden;
    padding: 0.5em 1em;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

codapi-toolbar button::after {
    content: " ▶";
}

codapi-status {
    color: var(--accent2);
    margin-left: 1em;
}

codapi-ref {
    display: none;
}

figure.live-code pre {
    resize: vertical;
    min-height: 2em;
}

figure.live-code pre code {
    caret-color: var(--shade7);
}

/* Add badges to figures */
figure.live-code {
    position: relative;
}

figure.live-code>pre::before {
    position: absolute;
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXJhZGlvIj48cGF0aCBkPSJNNC45IDE5LjFDMSAxNS4yIDEgOC44IDQuOSA0LjkiLz48cGF0aCBkPSJNNy44IDE2LjJjLTIuMy0yLjMtMi4zLTYuMSAwLTguNSIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjIiLz48cGF0aCBkPSJNMTYuMiA3LjhjMi4zIDIuMyAyLjMgNi4xIDAgOC41Ii8+PHBhdGggZD0iTTE5LjEgNC45QzIzIDguOCAyMyAxNS4xIDE5LjEgMTkiLz48L3N2Zz4=");
    top: 0;
    right: 0;
    transform: scale(2)translateX(-10px)translateY(2px);
    animation: pulse 2s infinite;
    pointer-events: none;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}