/*
<codapi-snippet sandbox="python" editor="basic">
    <codapi-toolbar>
        <button>Run</button>
        <a href="#edit">Edit</a>
        <codapi-status> ✓ Done </codapi-status>
    </codapi-toolbar>
    <codapi-output>
        <pre><code>Hello, World!</code></pre>
    </codapi-output>
</codapi-snippet>
*/

codapi-output pre {
  font-family: monospace;
  line-break: after-white-space;
  white-space: pre-wrap;
  -webkit-nbsp-mode: space;
  line-height: 1.3;
  padding: 0.5em;
}

codapi-toolbar {
  color: var(--accent5);
}

codapi-toolbar button {
  padding: 0;
  border: none;
  background: none;
  line-height: 1.35;
  color: var(--color-blue);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  outline: 0;
  overflow: hidden;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

codapi-toolbar button::after {
  content: " ▶";
}

codapi-status {
  color: var(--accent2);
  margin-left: 1em;
}

codapi-ref {
  display: none;
}
