div.css-columns {
    column-count: 2;
    column-gap: 1em;
    column-rule-style: none;
}

div.box {
    break-inside: avoid-column;
}

div.multi-column-row {
    display:flex;
    flex-flow: row nowrap;
}

div.multi-column-row > div.column {flex: 1 1 0%;}
div.multi-column-row > div.column[grow="1"] {flex-grow:1;}
div.multi-column-row > div.column[grow="2"] {flex-grow:2;}
div.multi-column-row > div.column[grow="3"] {flex-grow:3;}
div.multi-column-row > div.column[grow="4"] {flex-grow:4;}
div.multi-column-row > div.column[grow="5"] {flex-grow:5;}
div.multi-column-row > div.column[grow="6"] {flex-grow:6;}
div.multi-column-row > div.column[grow="7"] {flex-grow:7;}
div.multi-column-row > div.column[grow="8"] {flex-grow:8;}
div.multi-column-row > div.column[grow="9"] {flex-grow:9;}
