div.css-columns {
    background-color: #eee;
    column-count: 2;
    column-gap: 1em;
    column-rule-style: none;
}

div.box {
    break-inside: avoid-column;
}

.reveal section div.columns.left {
    background-color: #eee;width:49%;float:left;
} 
.reveal section div.columns.right {
    background-color: #eee;width:49%;float:right;
} 

div.top2columns.top {background-color: #fee;} 
div.top2columns.left {background-color: #efe;width:49%;float:left;} 
div.top2columns.right {background-color: #eef;width:49%;float:right;} 

div.bottom2columns.left {background-color: #efe;width:49%;float:left;} 
div.bottom2columns.right {background-color: #eef;width:49%;float:right;} 
div.bottom2columns.bottom {background-color: #fee;clear:both;} 

div.centeredoverlay.back {background-color: #efe;} 
div.centeredoverlay.front {position:absolute;left:25%;width:50%;top:25%;height:50%;} 

div.multi-column-row {
    display:flex;
    flex-flow: row nowrap;
    background-color: #efe;
}

div.single-column-row{background-color: #eee;}
div.multi-column-row > div.column-1 {background-color: #fee;}
div.multi-column-row > div.column-2 {background-color: #efe;}
div.multi-column-row > div.column-3 {background-color: #eef;}
div.multi-column-row > div.column {flex: 1 1 0%;}
div.multi-column-row > div.column[grow="1"] {flex-grow:1;}
div.multi-column-row > div.column[grow="2"] {flex-grow:2;}
div.multi-column-row > div.column[grow="3"] {flex-grow:3;}
div.multi-column-row > div.column[grow="4"] {flex-grow:4;}
div.multi-column-row > div.column[grow="5"] {flex-grow:5;}
div.multi-column-row > div.column[grow="6"] {flex-grow:6;}
div.multi-column-row > div.column[grow="7"] {flex-grow:7;}
div.multi-column-row > div.column[grow="8"] {flex-grow:8;}
div.multi-column-row > div.column[grow="9"] {flex-grow:9;}
div.single-column-row.front {position:absolute;left:25%;width:50%;top:25%;height:50%;} 
