/* Adaptation of Atom One Light and Atom One Dark, both by Daniel Gamage, to decker's accent colors */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--foreground-color);
  background: var(--shade1);
}

.hljs-comment,
.hljs-quote {
  color: var(--accent3); /* green */
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: var(--accent6); /* violet */
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: var(--accent1); /* orange */
}

.hljs-literal {
  color: var(--accent5); /* blue */
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: var(--accent3-fg); /* green */
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: var(--accent5); /* blue */
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: var(--accent7); /* brown */
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: var(--accent5); /* blue */
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
